// Footer
// ==================================================
.footer-wrap {
  border-top: 1px solid $grey-lightest;
}

.footer__around {
  font-size: em(15);
  text-align: center;
  flex-basis: 100%;
}

.footer__logo {
  flex-basis: 100%;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.footer-link {
  text-decoration: none;
  padding: rem(10 5);
}

@include mq(medium) {
  .footer__logo {
    margin-top: 0;
    margin-bottom: 0;
    flex-basis: auto;
    order: -1;
  }

  .footer__around {
    text-align: right;
    flex-basis: rem(220);
  }

  .footer__around--copyright {
    text-align: left;
    order: -2;
  }
}

@include mq(mid) {
  .footer__around {
    flex-basis: rem(300);
  }

  .footer-link {
    margin-left: 0.75rem;
  }
}

@include mq(large) {
  .footer-link {
    margin-left: 1rem;
  }
}

// Dark
// ==================================================
@include dark {
  .footer-wrap {
    border-top-color: rgba($grey-darker, 0.5);
  }
}
