// Highlight
// ==================================================
.highlight {
  background-color: lighten($grey-lightest, 2.5%);

  pre {
    padding: em(10);
  }

  pre::-webkit-scrollbar {
    height: 1.25em;
  }

  pre::-webkit-scrollbar-track {
    background-color: lighten($grey-lightest, 2.5%);
  }

  pre::-webkit-scrollbar-thumb {
    background-color: $grey-lighter;
    border-radius: 1em;
    border: em(4) solid lighten($grey-lightest, 2.5%);

    &:hover {
      background-color: $grey-light;
    }
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: $blue-grey;
    font-style: italic;
  }

  .token.string,
  .token.attr-value {
    color: $lime-900;
  }

  .token.punctuation,
  .token.operator {
    color: $grey-darker;
  }

  .token.entity,
  .token.url,
  .token.symbol,
  .token.boolean,
  .token.variable,
  .token.constant,
  .token.property,
  .token.regex,
  .token.inserted {
    color: $blue-600;
  }

  .token.number {
    color: $cyan-700;
  }

  .token.atrule,
  .token.attr-name,
  .language-autohotkey .token.selector {
    color: $orange-800;
  }

  .token.keyword,
  .token.function,
  .token.deleted,
  .language-autohotkey .token.tag {
    color: $purple;
  }

  .token.tag,
  .token.selector,
  .language-autohotkey .token.keyword {
    color: $pink;
  }

  .token.important,
  .token.function,
  .token.bold {
    font-weight: 700;
  }

  .token.namespace {
    opacity: 0.7;
  }

  .token.italic {
    font-style: italic;
  }

  &.scss {
    .token.property + .token.punctuation + .token.variable {
      color: inherit;
    }
  }
}

// Dark
// ==================================================
@include dark {
  .highlight {
    &,
    pre::-webkit-scrollbar-track {
      background-color: darken($grey-darkest, 2.5%);
    }

    pre::-webkit-scrollbar-thumb {
      background-color: darken($grey-darker, 5%);
      border-color: darken($grey-darkest, 2.5%);

      &:hover {
        background-color: $grey-darker;
      }
    }

    .token.string,
    .token.attr-value {
      color: $green-400;
    }

    .token.punctuation,
    .token.operator {
      color: $grey-light;
    }

    .token.entity,
    .token.url,
    .token.symbol,
    .token.boolean,
    .token.variable,
    .token.constant,
    .token.property,
    .token.regex,
    .token.inserted {
      color: $light-blue;
    }

    .token.number {
      color: $cyan;
    }

    .token.atrule,
    .token.attr-name,
    .language-autohotkey .token.selector {
      color: $orange-600;
    }

    .token.keyword,
    .token.function,
    .token.deleted,
    .language-autohotkey .token.tag {
      color: $purple-300;
    }

    .token.tag,
    .token.selector,
    .language-autohotkey .token.keyword {
      color: $pink-400;
    }
  }
}
