// Highlight
// ==================================================
.highlight {
  color: $grey-lighter;
  background-color: $grey-darkest;

  @include mq(large) {
    margin-left: -10%;
    margin-right: -10%;
  }

  pre {
    padding: em(10);

    ::-webkit-scrollbar {
      height: 1.8em;
    }
  }

  pre::-webkit-scrollbar {
    height: 1.25em;
  }

  pre::-webkit-scrollbar-track {
    background-color: $grey-darkest;
  }

  pre::-webkit-scrollbar-thumb {
    background-color: $grey-darker;
    border-radius: 1em;
    border: em(4) solid $grey-darkest;

    &:hover {
      background-color: $grey-dark;
    }
  }
}

// Dark
// ==================================================
@include dark {
  .highlight {
    &,
    pre::-webkit-scrollbar-track {
      background-color: darken($grey-darkest, 2.5%);
    }

    pre::-webkit-scrollbar-thumb {
      background-color: darken($grey-darker, 5%);
      border-color: darken($grey-darkest, 2.5%);

      &:hover {
        background-color: $grey-darker;
      }
    }
  }
}
