// Navigation
// ==================================================
.navigation-link {
  font-size: em(15);
  font-weight: 700;
  color: $grey-darkest;
  text-decoration: none;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: rem(2);
    background: linear-gradient(to right, $red, $pink);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.07s linear;
  }

  &:nth-child(2)::before {
    background: linear-gradient(to right, $teal, $cyan);
  }
  &:nth-child(3)::before {
    background: linear-gradient(to right, $orange, $yellow);
  }
  &:nth-child(4)::before {
    background: linear-gradient(to right, $purple, $blue);
  }

  &:hover,
  &.is-current {
    &::before {
      transform: scaleX(1);
    }
  }

  @include mq(375) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  @include mq(small) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @include mq(medium) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

// Dark
// ==================================================
@include dark {
  .navigation-link {
    color: $grey-lighter;
  }
}
