// Parallax
// ==================================================
body {
  overflow: hidden;
}

.parallax {
  perspective: 1px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  top: 0;
  left: 0;
  right: 0;
}

.parallax__layer--top,
.parallax__layer--bottom {
  transition: transform 0.3s ease-out;
}

.parallax__layer--top {
  background-image: linear-gradient(140deg, $grey-lightest, lighten($grey-lightest, 2%));
  height: em(1400);
  transform: skewY(3deg) translate3d(em(-14), em(-1600), -2px) scaleX(3);
}

.parallax__layer--bottom {
  background-image: linear-gradient(90deg, $grey-lightest, $white);
  height: em(1300);
  transform: skewY(-30deg) translate3d(em(-7), em(-1400), -1px) scaleX(2);
  box-shadow: 0 0 em(50) em(5) rgba($black, 0.04);
}

@include mq(small) {
  .parallax__layer--top {
    transform: skewY(5deg) translate3d(em(-14), em(-1400), -2px) scaleX(3);
  }

  .parallax__layer--bottom {
    transform: skewY(-25deg) translate3d(em(-7), em(-1300), -1px) scaleX(2);
  }
}

@include mq(medium) {
  .parallax__layer--top {
    transform: skewY(7deg) translate3d(em(-14), em(-1200), -2px) scaleX(3);
  }

  .parallax__layer--bottom {
    transform: skewY(-20deg) translate3d(em(-7), em(-1200), -1px) scaleX(2);
  }
}

@include mq(large) {
  .parallax__layer--top {
    transform: skewY(9deg) translate3d(em(-14), em(-1200), -2px) scaleX(3);
  }

  .parallax__layer--bottom {
    transform: skewY(-15deg) translate3d(em(-7), em(-1200), -1px) scaleX(2);
  }
}

// Dark
// ==================================================
@include dark {
  .parallax__layer--top {
    background-image: linear-gradient(140deg, darken($grey-darkest, 2%), darken($grey-darkest, 3%));
  }

  .parallax__layer--bottom {
    background-image: linear-gradient(90deg, darken($grey-darkest, 3%), $grey-darkest);
  }
}
