// Parallax
// ==================================================
body {
  overflow: hidden;
}

.parallax {
  perspective: 1px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.parallax__layer--1,
.parallax__layer--2 {
  transition: transform 0.3s ease-out;
}

.parallax__layer--main {
  position: relative;
}

.parallax__layer--1 {
  height: em(2600);
  background-image: linear-gradient(95deg, $grey-lighter 20%, $grey-lightest);
  transform: translate3d(em(-7), em(-3100), -3px) scaleX(4) skewY(65deg);
}

.parallax__layer--2 {
  height: em(1600);
  background-image: linear-gradient(75deg, darken($grey-lightest, 2%), $white 50%);
  transform: translate3d(em(-7), em(-1650), -1px) scaleX(2) skewY(-55deg);
  box-shadow: em(5) em(5) em(50) em(2) rgba($black, 0.05);
}

@include mq(small) {
  .parallax__layer--1 {
    transform: translate3d(em(-7), em(-3000), -3px) scaleX(4) skewY(60deg);
  }
  .parallax__layer--2 {
    transform: translate3d(em(-7), em(-1575), -1px) scaleX(2) skewY(-50deg);
  }
}

@include mq(medium) {
  .parallax__layer--1 {
    transform: translate3d(em(-7), em(-2900), -3px) scaleX(4) skewY(55deg);
  }

  .parallax__layer--2 {
    transform: translate3d(em(-7), em(-1500), -1px) scaleX(2) skewY(-45deg);
  }
}

@include mq(large) {
  .parallax__layer--1 {
    transform: translate3d(em(-7), em(-2800), -3px) scaleX(4) skewY(50deg);
  }

  .parallax__layer--2 {
    transform: translate3d(em(-7), em(-1425), -1px) scaleX(2) skewY(-40deg);
  }
}
