// Parallax
// ==================================================
.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.parallax__layer--1,
.parallax__layer--2 {
  transition: transform 0.3s ease-out;
}

.parallax__layer--1 {
  height: em(2000);
  background-image: linear-gradient(65deg, $grey-lightest, $white 50%);
  box-shadow: 0 0 em(25) em(2) rgba($black, 0.1);
  transform: translate3d(0, em(-1900), 0) skewY(-25deg);
}

.parallax__layer--2 {
  height: em(2000);
  background-image: linear-gradient(110deg, darken($grey-lightest, 5%) 75%, $grey-lightest);
  transform: translate3d(0, em(-1950), 0) skewY(20deg);
}

@include mq(small) {
  .parallax__layer--1 {
    transform: translate3d(0, em(-1870), 0) skewY(-23deg);
  }
  .parallax__layer--2 {
    transform: translate3d(0, em(-1925), 0) skewY(21deg);
  }
}

@include mq(medium) {
  .parallax__layer--1 {
    background-image: linear-gradient(65deg, $grey-lightest, $white 70%);
    transform: translate3d(0, em(-1820), 0) skewY(-19deg);
  }
  .parallax__layer--2 {
    transform: translate3d(0, em(-1900), 0) skewY(22deg);
  }
}

@include mq(large) {
  .parallax__layer--1 {
    transform: translate3d(0, em(-1770), 0) skewY(-16deg);
  }
  .parallax__layer--2 {
    transform: translate3d(0, em(-1925), 0) skewY(23deg);
  }
}

// Dark
// ==================================================
@include dark {
  .parallax__layer--1 {
    background-image: linear-gradient(65deg, darken($grey-darkest, 4%), $grey-darkest 50%);
    box-shadow: 0 0 em(25) em(2) rgba($black, 0.2);
  }
  .parallax__layer--2 {
    background-image: linear-gradient(110deg, darken($grey-darkest, 6%) 75%, darken($grey-darkest, 0.5%));
  }

  @include mq(medium) {
    .parallax__layer--1 {
      background-image: linear-gradient(65deg, darken($grey-darkest, 4%), $grey-darkest 70%);
    }
  }
}
