// Post
// ==================================================

// Meta
// ==================================================
.post__meta {
  font-size: em(15);
  color: $grey-dark;
}

// Rating
// ==================================================
.post__rating {
  font-size: em(20);
  color: $grey-lightest;
}

.post-star {
  color: color(yellow, 600);
}

// Responsive
// ==================================================
@include mq(medium) {
  .post__meta {
    font-size: 1em;
  }
}

// Dark
// ==================================================
@include dark {
  .post__meta {
    color: $grey;
  }

  .post__rating {
    color: $grey-darker;
  }
}
