// Post
// ==================================================

// Meta
// ==================================================
.post__meta {
  font-size: em(15);
  color: $grey-dark;
}

// Rating
// ==================================================
.post__rating {
  font-size: em(20);
  color: $grey-lightest;
}

.post-star {
  color: color(yellow, 600);
}

// Content
// ==================================================
.post__content {
  // Table
  // ==================================================
  table {
    @extend %block-margin-y;

    width: 100%;
    border-spacing: 0;

    th {
      background-color: $grey-lightest;
    }

    th,
    td {
      font-size: em(15);
      line-height: 1.4;
      padding: 0.5em 0.75em;

      @include mq(medium) {
        font-size: em(16);
      }
      @include mq(large) {
        font-size: em(17);
      }
    }

    tbody {
      tr:nth-child(even) {
        background-color: lighten($grey-lightest, 2.5%);
      }
    }
  }

  // Flickity
  // ==================================================
  .flickity-prev-next-button {
    background-color: transparent;

    &.previous {
      left: -3rem;
    }
    &.next {
      right: -3rem;
    }
  }

  // .flickity-rtl {
  //   .flickity-prev-next-button.previous {
  //     left: auto;
  //     right: -3rem;
  //   }

  //   .flickity-prev-next-button.next {
  //     right: auto;
  //     left: -3rem;
  //   }
  // }
}

// Related
// ==================================================
// .post__related-container {
//   border-top: 1px solid $grey-lightest;
// }

// .post__related {
//   list-style: none;
//   padding-left: 0;
//   margin-bottom: 0;
// }

// Prev/Next Buttons
// ==================================================
.post-prevnext {
  @extend %p-font-size;

  text-decoration: none;
  padding-top: 1em;
  padding-bottom: 1em;
}

.post-prevnext-arrowl,
.post-prevnext-arrowr {
  transition: transform 0.05s linear;
}

.post-prevnext-arrowl {
  padding-right: 0.5rem;
}
.post-prevnext-arrowr {
  padding-left: 0.5rem;
}

.post-prevnext:hover {
  .post-prevnext-arrowl {
    transform: translate3d(-1em, 0, 0);
  }
  .post-prevnext-arrowr {
    transform: translate3d(1em, 0, 0);
  }
}

// Responsive
// ==================================================
@include mq(medium) {
  .post__meta {
    font-size: 1em;
  }
}

// Dark
// ==================================================
@include dark {
  .post__meta {
    color: $grey;
  }

  .post__rating {
    color: $grey-darker;
  }

  .post__content {
    table {
      th {
        background-color: darken($grey-darkest, 5%);
      }

      tbody {
        tr:nth-child(even) {
          background-color: darken($grey-darkest, 2.5%);
        }
      }
    }
  }
}
