// Typography
// ==================================================

// Drop Cap
// ==================================================
.drop-cap {
  &::first-letter {
    font-weight: 700;
    line-height: 1;
    color: $grey-darkest;
    float: left;

    font-size: em(82);
    margin-top: -0.175em;
    margin-bottom: -0.175em;
    margin-left: -0.075em;
    margin-right: 0.05em;

    @include mq(small) {
      margin-top: -0.17em;
    }
    @include mq(medium) {
      font-size: em(87);
      margin-top: -0.15em;
    }
    @include mq(large) {
      margin-top: -0.17em;
      margin-left: -0.07em;
    }
  }
}
.drop-cap--a::first-letter,
.drop-cap--t::first-letter {
  margin-right: 0.08em;
  margin-left: 0.01em;
}
.drop-cap--c::first-letter {
  margin-left: -0.02em;
}
.drop-cap--j::first-letter {
  margin-left: -0.01em;
}
.drop-cap--k::first-letter,
.drop-cap--l::first-letter {
  margin-right: 0.1em;
}
.drop-cap--q::first-letter {
  //RADICAL CHANGE
}
.drop-cap--s::first-letter {
  margin-left: -0.015em;
}
.drop-cap--v::first-letter,
.drop-cap--w::first-letter {
  margin-left: 0;
  margin-right: 0.075em;
}
.drop-cap--x::first-letter {
  margin-left: 0;
  margin-right: 0.1em;
}
.drop-cap--y::first-letter {
  margin-left: 0.02em;
  margin-right: 0.1em;
}
.drop-cap--z::first-letter {
  margin-left: -0.01em;
  margin-right: 0.075em;
}

// Paragraph
// ==================================================
.paragraph {
  > p,
  > ul li {
    @include serif;
  }

  > p + p {
    text-indent: 1.5em;
    margin-top: -1.5em;
  }
}

// Pullquote
// ==================================================
.pullquote {
  font-weight: 700;
  font-style: italic;
  color: $grey-darkest;
  text-align: center;
  border-left: 0;
  padding-left: 0;
  margin-top: 2em;
  margin-bottom: 2em;

  p {
    @include type-scale(em(22), 1.1);
    line-height: 1.3;
    margin-bottom: 0;
  }

  @include mq(medium) {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
  }
}

.pullquote--wide {
  @include mq(mid) {
    margin-left: rem(-30);
    margin-right: rem(-30);
  }

  @include mq(large) {
    margin-left: rem(-50);
    margin-right: rem(-50);
  }
}

.pullquote-cite {
  @include sans-serif;
  @include type-scale(em(14), em(1));

  font-style: normal;
  font-weight: 400;
  color: $grey-dark;
  margin-top: 1em;
  display: block;

  a {
    color: inherit;

    &:hover {
      color: $grey-darkest;
    }
  }
}

// Dark
// ==================================================
@include dark {
  .drop-cap::first-letter {
    color: $grey-lightest;
  }

  .pullquote {
    color: $grey-lightest;
  }

  .pullquote-cite {
    color: $grey;

    a:hover {
      color: $grey-lighter;
    }
  }
}
