{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "globals": {
    "App": true,
    "Share": true,
    "Utility": true,
    "Rellax": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": true
      }
    ],
    "dot-location": ["error", "property"]
  },
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "prettier"
  ]
}
