.DS_Store
_orig

.sass-cache
bower_components
node_modules

_drafts
_site
!_includes
_includes/*
!_includes/critical
_includes/critical/*
!_includes/critical/css
_includes/critical/css/*
!_includes/critical/css/src
assets/css
assets/js/*
!assets/js/src
!assets/js/src/**/*
!assets/js/vendor
!assets/js/vendor/**/*
assets/images/blog

assets/media
cmi2014