// Archive
// ==================================================
$archive-meta-short-width: 55;
$archive-meta-long-width: 110;
$archive-meta-gutter: strip-unit($grid-gutter) * 16;

.container--archive {
  max-width: em(553) + em($archive-meta-short-width) + em($archive-meta-gutter);
}

.archive__list:last-of-type {
  margin-bottom: 0;
}

.archive__year {
  margin-bottom: 1.5rem;
}

.archive-year {
  @include type-scale(em(16), em(1), em(18));

  color: $white;
  background-color: $deep-orange;
  padding: 0.3em 0.5em;
  padding-right: 8em;
  margin-left: rem($archive-meta-short-width + $archive-meta-gutter / 2);
}

.post__meta--archive {
  margin-right: rem($archive-meta-gutter / 2);
  margin-top: rem(1);
  flex-basis: rem($archive-meta-short-width);
}

.post-date--long {
  display: none;
}

.archive-link {
  color: $grey-darkest;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@include mq(small) {
  .post__meta--archive {
    margin-right: rem($archive-meta-gutter);
  }
}

@include mq(medium) {
  .container--archive {
    max-width: em(585) + em($archive-meta-long-width) + em($archive-meta-gutter);
  }

  .archive-year {
    margin-left: rem($archive-meta-long-width + $archive-meta-gutter);
  }

  .post__meta--archive {
    flex-basis: rem($archive-meta-long-width);
    margin-top: rem(5);
  }

  .post-date--short {
    display: none;
  }
  .post-date--long {
    display: inline;
  }
}

@include mq(large) {
  .container--archive {
    max-width: em(618) + em($archive-meta-long-width) + em($archive-meta-gutter);
  }
}

// Dark
// ==================================================
@include dark {
  .archive-link {
    color: $grey-lightest;
  }

  .archive-year {
    color: $grey-darkest;
    background-color: $grey;
  }
}
