// ==================================================
// Carbon Ads
// ==================================================
#carbonads {
  background-color: $grey-lightest;
  min-height: em-calc(104);
  padding: em-calc(2);
  position: relative;
  margin-top: em-calc(15);
  margin-bottom: em-calc(15);
  @include mq(small) {
    margin-bottom: em-calc(10);
  }
  @include mq(medium) {
    margin-top: em-calc(25);
  }
  @include mq(large) {
    margin-top: 0;
    margin-bottom: 0;
  }
  @include clearfix;

  a {
    border: none;
  }
}

.carbon-wrap {
  display: table;
}

.carbon-img,
.carbon-text {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.carbon-img {
  img {
    display: block;
  }
}

.carbon-text,
.carbon-poweredby {
  font-size: em-calc(13);
}

.carbon-text {
  line-height: 1.2em;
  padding: em-calc(0 15);
}

.carbon-poweredby {
  @include serif;
  font-size: em-calc(12);
  padding-top: em-calc(10);
  padding-bottom: em-calc(10);
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: em-calc(-40);

  &::first-letter {
    text-transform: uppercase;
  }

  @include mq(large) {
    padding-top: 0;
    padding-bottom: 0;
    bottom: em-calc(-25);
  }
}