// ==================================================
// Chart
// ==================================================
.chart {
  margin-bottom: $paragraph-margin-bottom + $paragraph-margin-bottom-plus;
  margin-top: $paragraph-margin-bottom + $paragraph-margin-bottom-plus;
  margin-left: auto;
  margin-right: auto;
  @include clearfix;

  .chart-legend {
    margin-top: $paragraph-margin-bottom - em-calc(10);
  }
}

.chart--no-labels {
  .chart-legend {
    margin-top: em-calc(-10);
  }
}

// Legend
// ==================================================
.chart-legend {
  text-align: center;
  padding-top: em-calc(10);
  @include clearfix;
}

.chart-legend-item,
.chart-legend-item-color,
.chart-legend-item-title {
  display: inline-block;
  vertical-align: middle;
}

.chart-legend-item {
  margin: 0 em-calc(5);
}

.chart-legend-item-color {
  width: em-calc(14);
  height: em-calc(14);
  margin-right: em-calc(4);
  border-radius: em-calc(14);
}

.chart-legend-item-title {
  font-size: em-calc(12);
  font-weight: 500;
  letter-spacing: 0.025em;
}

// Pie
// ==================================================
.chart--pie {
  position: relative;
  max-width: em-calc(200);

  .chart-legend {
    width: 140%;
    margin-left: -20%;
  }

  .chart-legend-item {
    display: block;
    margin: 0 0 em-calc(2);
    text-align: left;
    width: 50%;
    float: left;
  }

  @include mq(medium) {
    .chart-legend {
      padding-top: 0;
      width: 85%;
      position: absolute;
      top: 0;
      left: 120%;
      margin-left: inherit;
    }

    .chart-legend-item {
      width: auto;
      float: none;
    }
  }
}