// ==================================================
// Gallery
// ==================================================
.flickity--images {
  @extend p;
  overflow: hidden;

  &,
  img {
    height: em-calc(300);
    @include mq(medium) {
      height: em-calc(400);
    }
    @include mq(ipad) {
      height: em-calc(500);
    }
  }

  img {
    display: block;
  }
}