// ==================================================
// Image
// ==================================================
figure {
  @extend p;
  @include clearfix;

  img {
    display: block;
  }
}

figcaption {
  @include serif;
  font-style: italic;
  font-size: em-calc(12);
  color: scale-color($paragraph-font-color, $lightness: 30%);
  line-height: 1.3;
  text-align: center;
  margin-top: .75em;
}

.figure-padding {
  background: image-url("loading.svg") no-repeat center;
  padding-bottom: 56%; // 16:9
  position: relative;

  img {
    position: absolute;
    width: 100%;
    top: 0;
  }
}