// ==================================================
// Image
// ==================================================
figure {
  @extend p;
  @include clearfix;

  img {
    display: block;
  }
}

figcaption {
  font-family: $serif;
  font-style: italic;
  font-size: em-calc(14);
  color: scale-color($paragraph-font-color, $lightness: 30%);
  text-align: center;
  margin-top: .75em;
}