// ==================================================
// Post
// ==================================================
.section--post {
  position: relative;
}

.post {
  @include container;
}

// Posts
// ==================================================
.post--posts {
  .post-article {
    border-bottom: 1px dotted $grey-lighter;
    padding-bottom: em-calc(20);
    margin-bottom: em-calc(20);
    &:last-of-type {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .post-content {
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.posts-header {
  margin-bottom: em-calc(20);
  @include clearfix;
  @include mq(small) {
    margin-bottom: em-calc(25);
  }
  @include mq(medium) {
    margin-bottom: em-calc(30);
  }
  @include mq(large) {
    margin-bottom: em-calc(35);
  }
}

.posts-header-column {
  width: 70%;
  display: inline-block;
}
.posts-header-column + .posts-header-column {
  text-align: right;
  width: 28%;
}

// Overflow
// ==================================================
// .post-overflow {
//   max-height: em-calc(500);
//   @include mq(small) {
//     max-height: em-calc(600);
//   }
//   @include mq(medium) {
//     max-height: em-calc(700);
//   }
//   @include mq(large) {
//     max-height: em-calc(800);
//   }
//   margin-bottom: $paragraph-margin-bottom;
//   position: relative;
//   overflow: hidden;

//   .post-title {
//     font-size: em-calc(22);
//     @include mq(small) {
//       font-size: em-calc(24);
//     }
//     @include mq(medium) {
//       font-size: em-calc(26);
//     }
//     @include mq(large) {
//       font-size: em-calc(28);
//     }
//   }
// }

// .post-overflow-overlay {
//   position: absolute;
//   bottom: em-calc(45);
//   left: 0;
//   right: 0;
//   height: em-calc(75);
//   @include linear-gradient(to bottom, rgba($white, 0), rgba($white, 1) 75%);
// }

// .post-overflow-toggle {
//   font-size: em-calc(15);
//   font-weight: 600;
//   color: $grey-darker;
//   letter-spacing: 0.02em;
//   text-align: center;
//   padding: rem-calc(15);
//   border: 2px solid map-get($color-orange, "100");
//   background: $white;
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   cursor: pointer;
//   @include transition(border-color $transition-duration linear);
//   &:hover {
//     border-color: map-get($color-orange, "300");
//   }
// }

// .post-overflow.has-transition {
//   @include transition(max-height .25s ease);
// }

// .post-overflow.is-reading {
//   max-height: em-calc(999);

//   .post-overflow-overlay,
//   .post-overflow-toggle {
//     display: none;
//   }
// }

// @include mq(medium) {
//   .post-overflow-toggle {
//     font-size: 1em;
//     padding: em-calc(20);
//   }
// }

// @include mq(large) {
//   .post-overflow {
//     max-height: inherit;
//   }

//   .post-overflow-overlay,
//   .post-overflow-toggle {
//     display: none;
//   }
// }

// Header
// ==================================================
.post-header {

}

.post-title {
  margin-bottom: 0.5em;
}

.post-link {
  color: $grey-darkest;
  border-bottom-color: transparent;
  &:hover {
    border-bottom-color: map-get($color-orange, "200");
  }
}

// Meta
// ==================================================
.post-meta {
  font-size: em-calc(14);
  color: $grey;
  @include mq(small) {
    font-size: em-calc(15);
  }
  @include mq(medium) {
    font-size: 1em;
  }
}

.post-meta-bullet {
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.post-meta-author-link {
  color: $grey;
  border-bottom-color: transparent;
  &:hover {
    color: $grey;
    border-bottom-color: map-get($color-orange, "200");
  }
}

// Content
// ==================================================
.post-content {
  p,
  ul,
  ol,
  figure,
  .highlight,
  .twitter-tweet {
    + h1,
    + h2,
    + h3 {
      margin-top: rem-calc(20);
      @include mq(small) {
        margin-top: rem-calc(25);
      }
      @include mq(medium) {
        margin-top: rem-calc(30);
      }
    }
  }

  p,
  .highlight {
    + h3,
    + h4,
    + h5 {
      @include mq(medium) {
        margin-top: rem-calc(15);
      }
    }
  }

  > hr {
    width: em-calc(200);
    border: 0;
    border-top: 1px solid $grey-lighter;
    margin: em-calc(25 0);
    @include mq(small) {
      margin: em-calc(30 0);
    }
    @include mq(medium) {
      margin: em-calc(40 0);
    }
  }

  table {
    @extend p;

    th {
      background-color: $grey-lighter;
      text-align: left;
    }

    th,
    td {
      font-size: 90%;
      line-height: 1.3;
      padding: .5em .7em;
    }

    tbody {
      tr:nth-child(even) {
        background-color: scale-color($grey-lighter, $lightness: 50%);
      }
    }
  }

  table.table--responsive {
    width: 100%;
    border-bottom: 5px solid $grey-lighter;

    th {
      display: none;
    }

    tr:first-child {
      border-top: 5px solid $grey-lighter;
    }

    td {
      padding: .15em .7em;
      display: block;

      &:before {
        content: attr(data-th)": ";
        font-weight: 700;
        padding-right: em-calc(10);
        width: em-calc(125);
        @include mq(iphone6) {
          width: em-calc(175);
        }
        @include mq(small) {
          width: em-calc(200);
        }
        display: inline-block;
        vertical-align: bottom;
      }

      &:first-child {
        padding-top: .5em;
      }
      &:last-child {
        padding-bottom: .5em;
      }
    }

    @include mq(medium) {
      display: table;
      border-bottom: 0;

      tr:first-child {
        border-top: 0;
      }

      th,
      td {
        display: table-cell;
      }

      td {
        padding: .5em .7em;

        &:before {
          display: none;
        }

        &:first-child {
          padding-top: .5em;
        }
        &:last-child {
          padding-bottom: .5em;
        }
      }
    }

    @include mq(639, max) {
      td {
        text-align: left;
      }
    }
  }

  .footnote {
    font-size: 90%;
    font-weight: 500;
    color: $grey;
    border-bottom: 0;
    padding: em-calc(10 5);
    display: inline-block;

    &:hover {
      color: $blue;
    }
  }

  .footnotes {
    @extend p;

    ol {
      font-size: 90%;
      @include mq(medium) {
        font-size: 80%;
      }
    }
  }
}

// Rating
// ==================================================
.post-rating {
  margin-bottom: $paragraph-margin-bottom;
}

.post-rating-stars {
  margin-right: .3em;
  display: inline-block;
  position: relative;
  white-space: nowrap;

  .svg-icon-star {
    width: em-calc(12);
    height: em-calc(12);
    margin-left: em-calc(1);
    margin-right: em-calc(1);
  }
}

.post-rating-stars-background {
  .svg-icon-star {
    fill: $grey-lighter;
  }
}

.post-rating-stars-foreground {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  .svg-icon-star {
    fill: $yellow;
  }
}

.post-rating-value,
.post-rating-comments {
  color: $grey;
  position: relative;
}

.post-rating-value {
  $font-size: 14;
  font-size: em-calc($font-size);
  font-weight: 700;
  bottom: em-calc(1, $font-size);
  margin-right: .3em;
}

.post-rating-comments {
  font-family: $serif;
  font-style: italic;
  bottom: em-calc(1);
}

// Share
// ==================================================
.post-share {
  @include mq(medium) {
    margin-top: em-calc(20);
  }
  @include mq(large) {
    margin-top: em-calc(30);
  }
}

.post-share-menu {
  @include list-reset;
  font-size: 1em;
}

.post-share-menu-title,
.post-share-menu-item {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}

.post-share-menu-title {
  font-size: 95%;
  @include mq(medium) {
    font-size: 1em;
  }
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  position: relative;
  top: em-calc(1);
}

.post-share-menu-item {
  margin-left: em-calc(-4);
}

.post-share-menu-link {
  padding: em-calc(10);
  border: 0;
  display: block;

  .svg-icon {
    width: em-calc(22);
    height: em-calc(22);
  }

  &:hover {
    .svg-icon {
      fill: $white;
    }
  }
}

.post-share-menu-link--twitter {
  margin-left: em-calc(12);

  .svg-icon {
    fill: map-get($color-social, twitter);
  }

  &:hover {
    background-color: map-get($color-social, twitter);
  }
}

.post-share-menu-link--facebook {
  .svg-icon {
    fill: map-get($color-social, facebook);
  }

  &:hover {
    background-color: map-get($color-social, facebook);
  }
}

.post-share-menu-link--google {
  .svg-icon {
    fill: map-get($color-social, google);
  }

  &:hover {
    background-color: map-get($color-social, google);
  }
}

.post-share-menu-link--link {
  .svg-icon {
    fill: map-get($color-orange, "500");
  }

  &:hover {
    background-color: map-get($color-orange, "500");
  }
}

// Tags
// ==================================================
.post-tags {
  
}

.post-tags-item {
  display: inline-block;
  margin-bottom: .7em;
}

@mixin post-tag($height: 24) {
  height: em-calc($height);
  line-height: em-calc($height);

  &:before {
    border-top-width: em-calc($height / 2);
    border-bottom-width: em-calc($height / 2);
    border-right-width: em-calc($height / 2);
    width: em-calc($height);
    left: em-calc($height * -1);
  }
}

.post-tag {
  @include post-tag(26);
  color: $grey-dark;
  background-color: $grey-lightest;
  padding: em-calc(0 7);
  display: inline-block;
  margin-right: em-calc(5);
  margin-left: em-calc(10);
  position: relative;
  filter: drop-shadow(em-calc(2) em-calc(2) 0 $grey-lighter);
  border: 0;
  border-top-right-radius: em-calc(2);
  border-bottom-right-radius: em-calc(2);
  border-right: em-calc(4) solid $blue;

  &:before,
  &:after {
    content: "";
    position: absolute;
  }

  &:before {
    border-style: solid;
    border-color: transparent;
    border-right-color: $grey-lightest;
    top: 0;
    transition: border-color $transition-duration linear;
  }

  padding: em-calc(0 10);

  &:after {
    width: em-calc(4);
    height: em-calc(4);
    background-color: $white;
    top: 50%;
    margin-top: em-calc(-2);
    left: em-calc(-2);
    border-radius: em-calc(4);
    box-shadow: inset em-calc(2) em-calc(1) 0 $grey-lighter;
  }
}

a.post-tag:hover {
  color: $white;
  background-color: $blue;
  border-right-color: map-get($color-blue, "300");

  &:before {
    border-right-color: $blue;
  }
}

.post-tag-label {
  font-size: em-calc(14);
  font-weight: 500;
}

.posts-header-label--tag {
  font-family: $serif;
  font-style: italic;
  padding-right: em-calc(8);
  @include mq(small) {
    font-size: em-calc(17);
  }
  @include mq(medium) {
    font-size: em-calc(18);
  }
}

.post--posts {
  .main {
    .post-tag {
      padding: em-calc(0 10);
    }

    @include mq(small) {
      .post-tag {
        @include post-tag(28);
      }

      .post-tag-label {
        font-size: em-calc(15);
      }
    }

    @include mq(medium) {
      .post-tag {
        @include post-tag(30);
        padding: em-calc(0 12);
      }

      .post-tag-label {
        font-size: em-calc(16);
      }
    }

    @include mq(large) {
      .post-tag {
        @include post-tag(32);
        padding: em-calc(0 14);
      }
    }
  }
}

.sidebar {
  .post-tag {
    font-size: 16px;
  }
}

.post-tag--cyan {
  border-right-color: $cyan;
}
a.post-tag--cyan:hover {
  background-color: $cyan;
  border-right-color: map-get($color-cyan, "300");
  &:before {border-right-color: $cyan}
}

.post-tag--green {
  border-right-color: $green;
}
a.post-tag--green:hover {
  background-color: $green;
  border-right-color: map-get($color-green, "300");
  &:before {border-right-color: $green}
}

.post-tag--grey {
  border-right-color: map-get($color-grey, "600");
}
a.post-tag--grey:hover {
  background-color: map-get($color-grey, "600");
  border-right-color: map-get($color-grey, "500");
  &:before {border-right-color: map-get($color-grey, "600")}
}

.post-tag--orange {
  border-right-color: $orange;
}
a.post-tag--orange:hover {
  background-color: $orange;
  border-right-color: map-get($color-orange, "300");
  &:before {border-right-color: $orange}
}

.post-tag--pink {
  border-right-color: $pink;
}
a.post-tag--pink:hover {
  background-color: $pink;
  border-right-color: map-get($color-pink, "300");
  &:before {border-right-color: $pink}
}

.post-tag--design {@extend .post-tag--cyan}
.post-tag--development {@extend .post-tag--orange}
.post-tag--review {@extend .post-tag--pink}
.post-tag--tutorial {@extend .post-tag--green}

// Comments
// ==================================================
.post-comments {
  margin-top: em-calc(25);
  @include clearfix;
  display: none;

  &.is-loaded {
    display: block;
  }
}

.post-comments-link {
  font-weight: 700;
  color: $grey-dark;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  background-color: $grey-lightest;
  border: 0;
  display: block;
  padding: rem-calc(20 0);

  &:hover {
    color: $grey-darkest;
  }

  &.is-hidden {
    display: none;
  }
}

.post-comments-count {
  color: map-get($color-orange, "900");
}

// Navigation
// ==================================================
.post-navigation {
  margin-top: em-calc(25);
  @include clearfix;
}

// Related
// ==================================================
.post-related {
  margin-top: em-calc(25);
}

.post-related-title {
  @extend .sidebar-title;
}

.post-related-list {
  @include list-reset;
}

.post-related-list-item {
  margin-bottom: 0.3em;
}

.post-related-list-link {
  color: scale-color($grey, $lightness: -10%);
  border-bottom-color: $grey-lighter;
  &:hover {
    border-bottom-color: map-get($color-orange, "200");
  }
}

// Author
// ==================================================
.post-author {
  text-align: center;
  border-top: 3px solid $orange;
  margin-top: em-calc(25);
  padding-top: em-calc(25);
  @include clearfix;
}

.post-author-image {
  width: em-calc(75);
  margin-bottom: em-calc(15);
  border-radius: em-calc(50);
}

.post-author-name-link {
  color: $grey-darker;
  border-bottom-color: transparent;
  &:hover {
    border-bottom-color: map-get($color-orange, "200");
  }
}

.post-author-about {
  font-size: em-calc(15);
  text-align: left;
  @include mq(small) {
    font-size: em-calc(16);
  }
  @include mq(medium) {
    font-size: em-calc(17);
  }
  overflow: hidden;
}

.post-author-twitter {
  font-size: 16px;

  &::before {
    content: "\000A\000A";
    white-space: pre;
  }
}

.post-author-twitter-link {
  font-size: em-calc(14);
  font-weight: 500;
  color: $grey-darker;
  border: 1px solid $grey-lighter;
  border-radius: em-calc(5);
  padding: .4em .75em;
  background-color: $grey-lightest;
  display: inline-block;
  vertical-align: middle;

  @include mq(medium) {
    font-size: em-calc(15);
    padding: .5em 1em;
  }
}

.post-author-twitter-icon {
  width: em-calc(19);
  height: em-calc(19);
  margin-right: em-calc(5);
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: em-calc(-1);

  .svg-icon-path {
    fill: map-get($color-social, twitter);
  }
}

// Pagination
// ==================================================
.posts-header-label--page {
  font-size: em-calc(14);
  color: $grey-light;
}

.post-pagination {
  text-align: center;
  @include clearfix;
  margin-top: em-calc(25);
  margin-bottom: em-calc(10);
}

.post-pagination-page {
  color: $grey;
  display: inline-block;
  position: relative;
  top: em-calc(13);
}

.post-pagination-page-label {
  display: none;
}

.post-pagination-link {
  font-size: rem-calc(16);
  font-weight: 700;
  color: $grey-dark;
  letter-spacing: 0.02em;
  padding: rem-calc(15 0);
  border-bottom: em-calc(2) solid map-get($color-blue, "100");
}

.post-pagination-link--previous {
  float: left;
}

.post-pagination-link--next {
  float: right;
}

.post-pagination-label {
  display: none;
}

.post-pagination-arrow {
  position: relative;
  display: inline-block;
  top: em-calc(-1);
  @include transform(translate3d(0, 0, 0));
  @include transition(transform $transition-duration ease);
}

.post-pagination-link--previous:hover {
  .post-pagination-arrow {
    @include transform(translate3d(em-calc(-8), 0, 0));
  }
}

.post-pagination-link--next:hover {
  .post-pagination-arrow {
    @include transform(translate3d(em-calc(8), 0, 0));
  }
}

// Pagination Bumper
// ==================================================
.post-pagination-bumper {
  $bumper-height: 200;
  border: 0;
  position: fixed;
  top: 0;
  width: em-calc(50);
  height: em-calc($bumper-height);
  top: 50%;
  margin-top: em-calc($bumper-height / 2 * -1);
  display: none;
  @include z-index(post-pagination-bumper);

  .svg-icon {
    $svg-width: 20;
    $svg-height: 34;
    fill: $grey-light;
    width: em-calc($svg-width);
    height: em-calc($svg-height);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: em-calc($svg-width / 2 * -1);
    margin-top: em-calc($svg-height / 2 * -1);
  }

  &:hover {
    .svg-icon {
      fill: $orange;
    }
  }
}

.post-pagination-bumper--next {
  right: 0;
}

// Archives
// ==================================================
.post-archives {
  list-style: none;
  padding-left: 0;
}

.post-archives-item {
  margin-bottom: em-calc(10);
}

.post-archives-link {
  border-bottom-color: transparent;
}

.post-meta--archives {
  $font-size: 14;
  font-size: em-calc($font-size);
  text-align: right;
  width: em-calc(120, $font-size);
  float: right;
}

// Responsive
// ==================================================
@include mq(small) {
  .post--posts {
    .post-article {
      padding-bottom: em-calc(25);
      margin-bottom: em-calc(25);
      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  .post-comments,
  .post-navigation,
  .post-related {
    margin-top: em-calc(25);
  }

  .post-pagination {
    margin-top: em-calc(30);
    margin-bottom: em-calc(15);
  }

  .post-author {
    text-align: left;
    margin-top: em-calc(30);
    padding-top: em-calc(30);
  }

  .post-author-image {
    width: em-calc(100);
    margin-right: em-calc(25);
    margin-top: em-calc(5);
    margin-bottom: em-calc(20);
    float: left;
  }
}

@include mq(520) {
  .post-pagination-label {
    display: inline;
  }
}

@include mq(medium) {
  .post--posts {
    .post-article {
      padding-bottom: em-calc(30);
      margin-bottom: em-calc(30);
      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  .post-comments,
  .post-navigation,
  .post-related {
    margin-top: em-calc(35);
  }

  .post-pagination {
    margin-top: em-calc(40);
    margin-bottom: em-calc(20);
  }

  .post-pagination-page-label {
    display: inline;
  }

  .post-author {
    margin-top: em-calc(40);
    padding-top: em-calc(40);
  }
}

@include mq(ipad) {
  .post-pagination-bumper {
    display: block;
  }
}

@include mq(large) {
  .post-pagination {
    margin-top: em-calc(50);
    margin-bottom: 0;
  }

  .post-comments,
  .post-navigation,
  .post-related {
    margin-top: em-calc(45);
  }

  .post-author {
    margin-top: em-calc(50);
    padding-top: em-calc(50);
  }

  .post-pagination-bumper {
    display: none;
  }
}

@include mq(1150) {
  .post-pagination-bumper {
    width: em-calc(60);
    display: block;
  }
}

@include mq(1240) {
  .post-pagination-bumper {
    width: em-calc(80);
    display: block;
  }
}