// ==================================================
// Scrollbar
// ==================================================
pre::-webkit-scrollbar {
  height: em-calc(17);
}

pre::-webkit-scrollbar-track {
  background: $pre-background-color;
}

pre::-webkit-scrollbar-thumb {
  background: scale-color($pre-background-color, $lightness: 20%);
  border-radius: em-calc(15);
  border: em-calc(4) solid $pre-background-color;
}

pre::-webkit-scrollbar-thumb:hover {
  background: scale-color($pre-background-color, $lightness: 30%);
}