// ==================================================
// SVG
// ==================================================
@mixin svg-overflow {
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
}

.svg-icon {
  @include svg-overflow;
}

a .svg-icon {
  path {
    @include transition(fill $transition-duration linear);
  }
}