// ==================================================
// Image
// ==================================================
figure {
  margin: 0;
  margin-bottom: $paragraph-margin-bottom;
  @include clearfix;

  img {
    display: block;
  }
}

figcaption {
  font-size: em-calc(14);
  color: scale-color($paragraph-font-color, $lightness: 30%);
  text-align: center;
  margin-top: .75em;
}