{% strip %}

{% assign url = page.url | remove : '/index.html' | append : '/' | replace: '//', '/' %}

{% assign type = 'page' %}
{% if url contains '/blog/' and url != '/blog/' %}
  {% assign type = 'post' %}
{% elsif url contains '/work/' and url != '/work/' %}
  {% assign type = 'case-study' %}
{% endif %}

{% assign description = site.description %}
{% if type == 'post' %}
  {% assign description = page.excerpt | strip_html | strip_newlines %}
{% elsif type == 'case-study' %}
  {% assign description = page.introduction %}
{% endif %}

{% assign share_image = site.url | prepend: site.url_protocol | append: '/icon.png' %}
{% if page.share_image != '' %}
  {% if page.share_image contains 'http://' or 'https://' %}
    {% assign share_image = page.share_image %}
  {% else %}
    {% assign share_image = url | prepend: '/assets/images' | prepend: site.url | prepend: site.url_protocol | append: page.share_image %}
  {% endif %}
{% endif %}

{% endstrip %}