<div class="post-rating">
  <span class="post-rating-stars">
    {% strip %}
      {% assign rating = include.rating %}
      {% assign rating_round = rating | round %}
      <span class="post-rating-star post-rating-star--yellow">{% for i in (1..rating) %}★{% endfor %}</span>{% if rating != rating_round %}<span class="post-rating-star"><span class="post-rating-star-ha">★</span><span class="post-rating-star-lf">☆</span></span>{% endif %}<span class="post-rating-star">{% for i in (rating_round..4) %}☆{% endfor %}</span>
    {% endstrip %}
  </span>
  <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
    <meta itemprop="name" content="{{ include.name }}">
  </span>
  <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" class="post-rating-value">
    <meta itemprop="ratingValue" content="{{ include.rating }}">
    <meta itemprop="bestRating" content="5">
  </span>
  {% if include.comments %}
    <span class="post-rating-comments">{{ include.comments }}</span>
  {% endif %}
</div>