<div class="post-rating">
  <span class="post-rating-stars">
    {% assign rating = include.rating %}
    <span class="post-rating-stars-yellow">{% for i in (1..rating) %}★{% endfor %}</span>{% for i in (rating..4) %}☆{% endfor %}
  </span>
  <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
    <meta itemprop="name" content="{{ include.name }}">
  </span>
  <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" class="post-rating-value">
    <meta itemprop="ratingValue" content="{{ include.rating }}">
    <meta itemprop="bestRating" content="5">
  </span>
  {% if include.comments %}
    <span class="post-rating-comments">{{ include.comments }}</span>
  {% endif %}
</div>