// Typography
// ==================================================
body {
  @include font-smoothing;

  font-family: $sans-serif;
  color: $grey-darker;
}

// Headings
// ==================================================
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $grey-darkest;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  @include type-scale(em(30), 1.06);
}

h2 {
  @include type-scale(em(24), 1.05);
}

h3 {
  @include type-scale(em(22), 1.04);
}

h4 {
  @include type-scale(em(18), em(1));
}

h5 {
  @include type-scale(em(16), em(1));
}

// Base font sizes
// ==================================================
p,
li {
  @include type-scale(em(16), em(1));
}

li {
  p,
  li {
    font-size: 1em;
  }
}

// Anchor
// ==================================================
a {
  color: $grey-darker;
  transition-property: color, background-color, border-color;
  transition-duration: 0.075s;
  transition-timing-function: linear;

  &:hover {
    color: $grey-darkest;
  }
}

// Paragraphs
// ==================================================
p {
  margin-top: 0;
  margin-bottom: 0;
}

// Lists
// ==================================================
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

// Blockquotes
// ==================================================
blockquote {
  font-family: $serif;
  margin: 0;
}

// Figures
// ==================================================
figure {
  margin: 0;
}

// Code
// ==================================================
code,
pre {
  font-family: $monospace;
}

pre {
  margin: 0;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  code {
    @include type-scale(em(14), em(1), em(16));
  }
}

// Superscripts, Subscripts
// ==================================================
sup,
sub {
  font-size: 0.65em;
}

@supports (font-feature-settings: "sups") {
  sup,
  sub {
    font-size: 1em;
    font-feature-settings: "sups";
  }

  sup {
    top: 0em;
  }

  sub {
    bottom: -0.6em;
  }
}

// Mark
// ==================================================
mark {
  color: $grey-darker;
  background-color: $yellow;
  background-image: linear-gradient(to right, $yellow, color(yellow, 300));
}

// Horizontal Line
// ==================================================
hr {
  margin-top: 0;
  margin-bottom: 0;
}

// Responsive
// ==================================================
@include mq(small) {
  p,
  li {
    font-size: em(17);
  }
}

@include mq(medium) {
  p,
  li {
    font-size: em(18);
  }
}

@include mq(large) {
  p,
  li {
    font-size: em(19);
  }
}

// Dark
// ==================================================
@include dark {
  body {
    color: $grey;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $grey-lighter;
  }

  a {
    color: $grey;

    &:hover {
      color: $grey-light;
    }
  }

  mark {
    color: $grey;
    background-color: $black;
    background-image: linear-gradient(to right, $black, rgba($grey-darkest, 0.5));
  }
}
