* { box-sizing: inherit; }
@font-face { font-family: "RobotoLocal"; font-style: normal; font-weight: 400; src: local("Roboto"), local("Roboto-Regular"); }
@font-face { font-family: "RobotoLocal"; font-style: normal; font-weight: 500; src: local("Roboto Medium"), local("Roboto-Medium"); }
html { box-sizing: border-box; }
body { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
body, html { font-family: RobotoLocal, Helvetica, Arial, sans-serif; text-rendering: optimizelegibility; -webkit-font-smoothing: antialiased; color: rgb(102, 103, 110); background-color: rgb(34, 35, 38); height: 100%; }
.fonts-loaded body { font-family: Roboto, Helvetica, Arial, sans-serif; }

aside, header, nav, section { display: block; }
hr { box-sizing: content-box; height: 0px; }
img { max-width: 100%; height: auto; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; }
svg:not(:root) { overflow-x: hidden; overflow-y: hidden; }

h1, h4 { color: rgb(51, 52, 59); margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
h1 { font-size: 1.875em; line-height: 1.2em; margin-bottom: 0.3em; }
h4 { font-size: 1em; line-height: 1.4em; margin-bottom: 0.5em; }
p { font-size: 1em; letter-spacing: 0px; line-height: 1.5em; margin-top: 0px; margin-right: 0px; margin-left: 0px; margin-bottom: 0.75em; text-rendering: optimizelegibility; -webkit-font-smoothing: antialiased; }
ul { font-size: 1em; letter-spacing: 0px; line-height: 1.5em; padding-left: 1.5em; margin-top: 0px; margin-right: 0px; margin-left: 0px; margin-bottom: 0.75em; text-rendering: optimizelegibility; -webkit-font-smoothing: antialiased; }
ul li { font-size: 1em; line-height: 1.5em; }
a { color: rgb(102, 103, 110); text-decoration: none; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(187, 222, 251); background-color: transparent; }

.container { padding-left: 0.9375em; padding-right: 0.9375em; max-width: 68.75em; margin-left: auto; margin-right: auto; position: relative; }
.container::after { clear: both; content: ''; display: table; }
.section { background-color: rgb(255, 255, 255); padding-top: 1.5625em; padding-bottom: 1.5625em; }
.section::after { clear: both; content: ''; display: table; }
.section-break-half { width: 100%; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
.section-break-half::after { clear: both; content: ''; display: table; }
.section-break-half { padding-top: 0.78125em; }
.no-break { white-space: nowrap; }
.about-introduction p { text-indent: 1.5em; }
.about-introduction p:not(:last-child) { margin-bottom: 0px; }
.about-introduction h1 + p { text-indent: 0px; }
.main, .sidebar { max-width: 39.0625em; margin-left: auto; margin-right: auto; }
.header-border { width: 100%; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-top-width: 0.1875em; border-top-style: solid; border-top-color: rgb(230, 231, 235); position: absolute; bottom: 0px; left: 0px; z-index: 1; }
.header { background-color: rgb(34, 35, 38); height: 3.75em; line-height: 3.5625em; overflow-x: hidden; overflow-y: hidden; position: relative; z-index: 3; }
.header::after { clear: both; content: ''; display: table; }
.logo { width: 3.125em; float: left; position: relative; left: -0.3125em; }
.logo-link { text-align: center; border-bottom-width: 0.1875em; border-bottom-color: transparent; display: block; position: relative; z-index: 2; }
.logo-canvas { position: relative; height: 3.5625em; }
.logo-svg { width: 2.39583em; height: 2.60417em; position: relative; top: 0.4375em; }
.logo-svg polygon { stroke: #bbbcc3; stroke-width: 1px; }
.logo-svg g { -webkit-transform: translateX(0px); }
.logo-svg-green-1 { fill: #3fae52; }
.logo-svg-green-2 { fill: #7cc686; }
.logo-svg-green-3 { fill: #2d8d43; }
.logo-svg-cyan-1 { fill: #00bad2; }
.logo-svg-cyan-2 { fill: #0097a7; }
.logo-svg-cyan-3 { fill: #4ac4d7; }
.logo-svg-cyan-4 { fill: #00bad2; }
.logo-svg-blue-1 { fill: #62b3e4; }
.logo-svg-blue-2 { fill: #1b77bd; }
.logo-svg-blue-3 { fill: #62b3e4; }
.logo-svg-blue-4 { fill: #3191cf; }
.logo-svg-purple-1 { fill: #7a3594; }
.logo-svg-purple-2 { fill: #944198; }
.logo-svg-purple-3 { fill: #b06eae; }
.logo-svg-purple-4 { fill: #944198; }
.logo-svg-pink-1 { fill: #e81f64; }
.logo-svg-pink-2 { fill: #c21e5c; }
.logo-svg-pink-3 { fill: #f06392; }
.logo-svg-pink-4 { fill: #e81f64; }
.logo-svg-pink-5 { fill: #c21e5c; }
.logo-svg-red-1 { fill: #ef4438; }
.logo-svg-red-2 { fill: #e57373; }
.logo-svg-red-3 { fill: #d32e2e; }
.logo-svg-red-4 { fill: #ef4438; }
.logo-svg-red-5 { fill: #d32e2e; }
.logo-svg-orange-1 { fill: #f47c20; }
.logo-svg-orange-2 { fill: #f8951f; }
.logo-svg-orange-3 { fill: #f47c20; }
.logo-svg-orange-4 { fill: #fcb452; }
.logo-svg-yellow-1 { fill: #fedc63; }
.logo-svg-yellow-2 { fill: #fecd27; }
.logo-svg-yellow-3 { fill: #faa71c; }
.navigation { text-align: center; background-color: rgb(34, 35, 38); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(58, 60, 68); position: relative; top: -1px; float: right; }
.navigation-link { font-weight: 500; color: rgb(187, 188, 195); letter-spacing: 0.03em; text-transform: uppercase; border-bottom-width: 0.1875em; border-bottom-color: transparent; padding-left: 0.4375em; padding-right: 0.4375em; margin-left: -0.3125em; display: inline-block; position: relative; z-index: 2; }
.navigation-link:first-child { margin-left: 0px; }
.navigation-label { font-size: 0.8125em; margin-bottom: -0.07692em; display: inline-block; }
.navigation-link.is-current { color: rgb(255, 255, 255); }
.navigation-link.is-current:nth-child(1) { border-top-color: rgb(233, 30, 99); border-right-color: rgb(233, 30, 99); border-bottom-color: rgb(233, 30, 99); border-left-color: rgb(233, 30, 99); }
.mce-responses .response { display: none; }
.hero { padding-left: 0.9375em; padding-right: 0.9375em; height: 12.5em; background-size: cover; background-color: rgb(33, 150, 243); position: relative; background-position: 50% 50%; background-repeat: no-repeat no-repeat; }
.hero::before { content: ''; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 1; }
.sidebar-title { font-size: 95%; letter-spacing: 0.07em; text-transform: uppercase; margin-bottom: 1em; }
.sidebar-list { line-height: 1em; list-style-type: none; list-style-position: initial; list-style-image: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
.sidebar-list-item { margin-bottom: 0.3em; }
.sidebar-list-link { color: rgb(137, 138, 146); border-bottom-color: rgb(230, 231, 235); }
.sidebar-subscribe-link--rss .svg-icon-path { fill: #f57c00; }
.hero--about { background-color: rgb(76, 175, 80); }
.about-mosaic { margin-bottom: 0.75em; position: relative; }
.about-mosaic::after { clear: both; content: ''; display: table; }
.about-mosaic-tile { background-size: cover; position: relative; float: left; background-position: 50% 50%; background-repeat: no-repeat no-repeat; }
.about-mosaic-tile-proportion { width: 100%; display: block; }
.sidebar-list--about-people .sidebar-list-item { display: inline-block; }
.sidebar-list--about-people .sidebar-list-item::after { content: ', '; }
.about-location-image { width: 100%; display: block; }
.about-location-image-path { fill: #ec407a; }
.about-sidebar-break { width: 100%; margin-top: 10.3125em; display: none; }

@media only screen and (min-width: 22.8125em) {
  .logo { width: 4.0625em; float: left; position: relative; left: -0.1875em; }
  .navigation-link { padding-left: 0.625em; padding-right: 0.625em; }
  .logo-svg { width: 2.875em; height: 3.125em; position: relative; top: 0.21875em; }
  .navigation-label { font-size: 0.875em; margin-bottom: -0.07692em; }
}
@media only screen and (min-width: 25em) {
  .navigation-link { padding-left: 0.75em; padding-right: 0.75em; }
}
@media only screen and (min-width: 30em) {
  h1 { font-size: 2em; }
  p { font-size: 1.0625em; }
  ul { font-size: 1.0625em; }
  .container { padding-left: 1.5625em; padding-right: 1.5625em; }
  .section { padding-top: 2.5em; padding-bottom: 2.5em; }
  .section-break-half { padding-top: 1.25em; }
  .header { background-color: rgb(255, 255, 255); height: 4.375em; line-height: 4.1875em; }
  .logo { width: 4.6875em; }
  .navigation { width: calc(100% - 4.6875em); }
  .logo { left: initial; }
  .logo-canvas { height: 4.1875em; }
  .logo-svg { width: 3.8125em; height: 4.1875em; top: 0px; }
  .navigation { background-color: rgb(255, 255, 255); text-align: right; height: inherit; border-top-width: 0px; border-top-style: initial; border-top-color: initial; top: inherit; float: left; clear: inherit; }
  .navigation-link { color: rgb(102, 103, 110); padding-left: 0.6875em; padding-right: 0.6875em; }
  .navigation-link.is-current { color: rgb(51, 52, 59); }
  .navigation-label { font-size: 1em; padding-top: initial; }
  .hero { height: 18.75em; padding-left: 1.5625em; padding-right: 1.5625em; }
}
@media only screen and (min-width: 34.375em) {
  .navigation-link { padding-left: 1.125em; padding-right: 1.125em; }
}
@media only screen and (min-width: 40em) {
  h1 { font-size: 2.125em; }
  p { font-size: 1.125em; }
  ul { font-size: 1.125em; }
  .section { padding-top: 3.75em; padding-bottom: 3.75em; }
  .section-break-half { padding-top: 1.875em; }
  .logo { width: 4.9375em; }
  .navigation { width: calc(100% - 4.9375em); }
  .navigation-link { padding-left: 1.375em; padding-right: 1.375em; }
  .hero { height: 25em; }
  .sidebar-title { font-size: inherit; }
  .sidebar-section { font-size: 95%; }
  .about-mosaic { width: 110%; left: -5%; }
  .about-mosaic-tile--jonathan-becky { margin-right: 0.9375em; }
  .about-mosaic-tile--jonathan-silas, .about-mosaic-tile--becky-silas { margin-right: 0.9375em; }
  .about-mosaic-tile--jonathan-silas { margin-bottom: 0.9375em; }
  .about-mosaic-tile--silas-katelyn { width: 23%; }
}
@media only screen and (min-width: 48em) {
  .header { height: 5.625em; line-height: 5.4375em; }
  .logo { width: 6.375em; }
  .navigation { width: calc(100% - 6.375em); }
  .logo-canvas { height: 5.4375em; }
  .logo-svg { width: 5em; height: 5.4375em; }
  .navigation-link { padding-left: 1.5625em; padding-right: 1.5625em; }
}
@media only screen and (min-width: 56.25em) {
  .logo { width: 8.25em; }
  .navigation { width: calc(100% - 8.25em); }
  .navigation-link { padding-left: 2.5em; padding-right: 2.5em; }
}
@media only screen and (min-width: 64em) {
  h1 { font-size: 2.25em; }
  h4 { font-size: 1.0625em; }
  p { font-size: 1.1875em; }
  ul { font-size: 1.1875em; }
  .main { float: left; display: block; margin-right: 3.63636%; width: 61.13636%; }
  .sidebar { float: left; display: block; margin-right: 3.63636%; width: 30.90909%; margin-left: 4.31818%; }
  .sidebar:last-child { margin-right: 0px; }
  .sidebar-section { font-size: 90%; }
  .about-mosaic { width: 173%; }
  .about-mosaic::after { clear: both; content: ''; display: table; }
  .about-sidebar-break { display: block; }
  .sidebar-list--about-people .sidebar-list-item { display: inherit; }
  .sidebar-list--about-people .sidebar-list-item::after { content: none; }
}