* { box-sizing: inherit; }
@font-face { font-family: "RobotoLocal"; font-style: normal; font-weight: 400; src: local("Roboto"), local("Roboto-Regular"); }
@font-face { font-family: "RobotoLocal"; font-style: normal; font-weight: 500; src: local("Roboto Medium"), local("Roboto-Medium"); }
@font-face { font-family: "RobotoLocal"; font-style: normal; font-weight: 700; src: local("Roboto Bold"), local("Roboto-Bold"); }
@font-face { font-family: "RobotoSlabLocal"; font-style: italic; font-weight: 400; src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"); }
html { box-sizing: border-box; }
body { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
body, html { font-family: RobotoLocal, Helvetica, Arial, sans-serif; color: rgb(102, 103, 110); background-color: rgb(34, 35, 38); height: 100%; }
body, html, input { text-rendering: optimizelegibility; -webkit-font-smoothing: antialiased; }
.fonts-loaded body { font-family: Roboto, Helvetica, Arial, sans-serif; }

article, aside, figcaption, figure, header, nav, section { display: block; }
code { font-family: Consolas, 'Liberation Mono', Courier, monospace; font-size: 1em; color: rgb(102, 103, 110); }
figure { margin-top: 1em; margin-right: 40px; margin-bottom: 1em; margin-left: 40px; }
figure::after { clear: both; content: ''; display: table; }
figure img { display: block; }
figcaption { font-family: RobotoSlabLocal, Georgia, 'Times New Roman', serif; font-style: italic; font-size: 0.875em; color: rgb(147, 148, 155); line-height: 1.3; text-align: center; margin-top: 0.75em; }
form { font-size: 1em; margin-bottom: 0.75em; }
hr { box-sizing: content-box; height: 0px; }
img { max-width: 100%; height: auto; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; }
input { color: inherit; font: inherit; line-height: normal; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
pre { padding: 0.625em 0.9375em; margin-bottom: 0.75em; }
svg:not(:root) { overflow-x: hidden; overflow-y: hidden; }

h1, h2, h4 { color: rgb(51, 52, 59); margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
h1 { font-size: 1.875em; line-height: 1.2em; margin-bottom: 0.3em; }
h2 { font-size: 1.25em; line-height: 1.3em; margin-bottom: 0.35em; }
h4 { font-size: 1em; line-height: 1.4em; margin-bottom: 0.5em; }
p, figure, .post-content table { width: 100%; font-size: 1em; letter-spacing: 0px; line-height: 1.5em; margin-top: 0px; margin-right: 0px; margin-left: 0px; margin-bottom: 0.75em; text-rendering: optimizelegibility; -webkit-font-smoothing: antialiased; }
p > code { font-size: 0.95em; background-color: rgb(244, 245, 246); padding-top: 0.25em; padding-right: 0.4375em; padding-bottom: 0.125em; padding-left: 0.4375em; border-top-left-radius: 0.1875em 0.1875em; border-top-right-radius: 0.1875em 0.1875em; border-bottom-right-radius: 0.1875em 0.1875em; border-bottom-left-radius: 0.1875em 0.1875em; }
ul, ol { font-size: 1em; letter-spacing: 0px; line-height: 1.5em; padding-left: 1.5em; margin-top: 0px; margin-right: 0px; margin-left: 0px; margin-bottom: 0.75em; text-rendering: optimizelegibility; -webkit-font-smoothing: antialiased; }
ul li, ol li, ul li ul, ul li ol, ol li ul, ol li ol { font-size: 1em; line-height: 1.5em; }
ul ul, ul ol, ol ul, ol ol { margin-bottom: 0; }
a { color: rgb(102, 103, 110); text-decoration: none; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(187, 222, 251); background-color: transparent; }

.container { padding-left: 0.9375em; padding-right: 0.9375em; max-width: 68.75em; margin-left: auto; margin-right: auto; position: relative; }
.container::after { clear: both; content: ''; display: table; }
.section { background-color: rgb(255, 255, 255); padding-top: 1.5625em; padding-bottom: 1.5625em; }
.section::after { clear: both; content: ''; display: table; }
.section-break-half { width: 100%; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
.section-break-half::after { clear: both; content: ''; display: table; }
.section-break-half { padding-top: 0.78125em; }
.figure-padding { background: url("/assets/images/loading.svg") no-repeat center; padding-bottom: 56%; height: 0; position: relative; }
.figure-padding img { position: absolute; width: 100%; top: 0; }
.main, .sidebar { max-width: 39.0625em; margin-left: auto; margin-right: auto; }
.header-border { width: 100%; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-top-width: 0.1875em; border-top-style: solid; border-top-color: rgb(230, 231, 235); position: absolute; bottom: 0px; left: 0px; z-index: 1; }
.header { background-color: rgb(34, 35, 38); height: 3.75em; line-height: 3.5625em; overflow-x: hidden; overflow-y: hidden; position: relative; z-index: 3; }
.header::after { clear: both; content: ''; display: table; }
.logo { width: 3.125em; float: left; position: relative; left: -0.3125em; }
.logo-link { text-align: center; border-bottom-width: 0.1875em; border-bottom-color: transparent; display: block; position: relative; z-index: 2; }
.logo-canvas { position: relative; height: 3.5625em; }
.logo-svg { width: 2.39583em; height: 2.60417em; position: relative; top: 0.4375em; }
.logo-svg polygon { stroke: #bbbcc3; stroke-width: 1px; }
.logo-svg g { -webkit-transform: translateX(0px); }
.logo-svg-g-1 { fill: #3fae52; }
.logo-svg-g-2 { fill: #7cc686; }
.logo-svg-g-3 { fill: #2d8d43; }
.logo-svg-c-1 { fill: #00bad2; }
.logo-svg-c-2 { fill: #0097a7; }
.logo-svg-c-3 { fill: #4ac4d7; }
.logo-svg-c-4 { fill: #00bad2; }
.logo-svg-b-1 { fill: #62b3e4; }
.logo-svg-b-2 { fill: #1b77bd; }
.logo-svg-b-3 { fill: #62b3e4; }
.logo-svg-b-4 { fill: #3191cf; }
.logo-svg-pu-1 { fill: #7a3594; }
.logo-svg-pu-2 { fill: #944198; }
.logo-svg-pu-3 { fill: #b06eae; }
.logo-svg-pu-4 { fill: #944198; }
.logo-svg-pi-1 { fill: #e81f64; }
.logo-svg-pi-2 { fill: #c21e5c; }
.logo-svg-pi-3 { fill: #f06392; }
.logo-svg-pi-4 { fill: #e81f64; }
.logo-svg-pi-5 { fill: #c21e5c; }
.logo-svg-r-1 { fill: #ef4438; }
.logo-svg-r-2 { fill: #e57373; }
.logo-svg-r-3 { fill: #d32e2e; }
.logo-svg-r-4 { fill: #ef4438; }
.logo-svg-r-5 { fill: #d32e2e; }
.logo-svg-o-1 { fill: #f47c20; }
.logo-svg-o-2 { fill: #f8951f; }
.logo-svg-o-3 { fill: #f47c20; }
.logo-svg-o-4 { fill: #fcb452; }
.logo-svg-y-1 { fill: #fedc63; }
.logo-svg-y-2 { fill: #fecd27; }
.logo-svg-y-3 { fill: #faa71c; }
.nav { text-align: center; background-color: rgb(34, 35, 38); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(58, 60, 68); position: relative; top: -1px; float: right; }
.nav-link { font-weight: 500; color: rgb(187, 188, 195); letter-spacing: 0.03em; text-transform: uppercase; border-bottom-width: 0.1875em; border-bottom-color: transparent; padding-left: 0.4375em; padding-right: 0.4375em; margin-left: -0.3125em; display: inline-block; position: relative; z-index: 2; }
.nav-link:first-child { margin-left: 0px; }
.nav-label { font-size: 0.8125em; margin-bottom: -0.07692em; display: inline-block; }
.nav-link.is-current { color: rgb(255, 255, 255); }
.nav-link.is-current:nth-child(3) { border-top-color: rgb(255, 152, 0); border-right-color: rgb(255, 152, 0); border-bottom-color: rgb(255, 152, 0); border-left-color: rgb(255, 152, 0); }
.form::after { clear: both; content: ''; display: table; }
.form input { -webkit-appearance: none; border-top-width: 2px; border-right-width: 2px; border-bottom-width: 2px; border-left-width: 2px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(230, 231, 235); border-right-color: rgb(230, 231, 235); border-bottom-color: rgb(230, 231, 235); border-left-color: rgb(230, 231, 235); padding-top: 0.75em; padding-right: 0.9375em; padding-bottom: 0.75em; padding-left: 0.9375em; display: block; border-top-left-radius: 0px 0px; border-top-right-radius: 0px 0px; border-bottom-right-radius: 0px 0px; border-bottom-left-radius: 0px 0px; outline-style: none; outline-width: initial; outline-color: initial; }
.form input { width: 100%; }
.form-field-group { margin-bottom: 0.625em; }
.mce-form { overflow-x: hidden; overflow-y: hidden; }
.mce-responses .response { display: none; }
.mce-security { position: absolute; left: -5000px; }
.sidebar-title { font-size: 95%; letter-spacing: 0.07em; text-transform: uppercase; margin-bottom: 1em; }
.sidebar-list { line-height: 1em; list-style-type: none; list-style-position: initial; list-style-image: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
.sidebar-list-item { margin-bottom: 0.3em; }
.sidebar-list-link { color: rgb(137, 138, 146); border-bottom-color: rgb(230, 231, 235); }
.sidebar-subscribe-link--rss .svg-icon-rss { fill: #f57c00; width: 0.75em; height: 0.75em; }
.form--sidebar-newsletter .form-field-group { margin-bottom: 0.3125em; }
.section--post { position: relative; }
.post { padding-left: 0.9375em; padding-right: 0.9375em; max-width: 68.75em; margin-left: auto; margin-right: auto; position: relative; }
.post::after { clear: both; content: ''; display: table; }
.post-title { margin-bottom: 0.5em; }
.post-link { color: rgb(34, 35, 38); border-bottom-color: transparent; }
.post-meta { font-size: 0.875em; color: rgb(153, 154, 161); }
.post-meta-author-link { color: rgb(153, 154, 161); border-bottom-color: transparent; }
.post-rating { margin-bottom: 0.75em; }
.post-rating-stars { font-family: sans-serif; color: #dddee1; margin-right: .3em; }
.post-rating-star { display: inline-block; vertical-align: middle; position: relative; }
.post-rating-star--yellow { color: #f9ce1d; }
.post-rating-star-ha, .post-rating-star-lf { display: block; position: relative; margin-right: .5em; }
.post-rating-star-ha { color: #f9ce1d; width: .5em; overflow: hidden; z-index: 2; }
.post-rating-star-lf { position: absolute; top: 0; z-index: 1; }
.post-rating-comments { font-family: RobotSlabLocal; font-size: 0.875em; color: rgb(153, 154, 161); }
.post-content p + h2 { margin-top: 1.25rem; }
.post-content table th, .post-content table td { font-size: 90%; line-height: 1.3; padding: .5em .7em; }
.post-content > hr { margin: 1.5625em 0; }
.post-share-menu-item { display: inline-block; }
.post-share-menu-link .svg-icon { width: 1.375em; height: 1.375em; }
.post-author-twitter-icon, .post-author-twitter-icon .svg-icon { width: 1.1875em; height: 1.1875em; }
.post-author-twitter-icon .svg-icon { fill: #55acee; }
.post-author-image { width: 4.6875em; }
.post-tags-item { display: inline-block; margin-bottom: 0.7em; }
.post-tag { height: 1.625em; line-height: 1.625em; color: rgb(102, 103, 110); background-color: rgb(244, 245, 246); display: inline-block; margin-right: 0.3125em; margin-left: 0.625em; position: relative; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-top-right-radius: 0.125em 0.125em; border-bottom-right-radius: 0.125em 0.125em; border-right-width: 0.25em; border-right-style: solid; border-right-color: rgb(33, 150, 243); padding-top: 0px; padding-right: 0.625em; padding-bottom: 0px; padding-left: 0.625em; }
.post-tag::before { border-top-width: 0.8125em; border-bottom-width: 0.8125em; border-right-width: 0.8125em; width: 1.625em; left: -1.625em; }
.post-tag::before, .post-tag::after { content: ''; position: absolute; }
.post-tag::before { border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: transparent; border-bottom-color: transparent; border-left-color: transparent; border-right-color: rgb(244, 245, 246); top: 0px; }
.post-tag::after { width: 0.25em; height: 0.25em; background-color: rgb(255, 255, 255); top: 50%; margin-top: -0.125em; left: -0.125em; border-top-left-radius: 0.25em 0.25em; border-top-right-radius: 0.25em 0.25em; border-bottom-right-radius: 0.25em 0.25em; border-bottom-left-radius: 0.25em 0.25em; box-shadow: rgb(230, 231, 235) 0.125em 0.0625em 0px inset; }
.post-tag-label { font-size: 0.875em; font-weight: 500; }
.sidebar .post-tag { font-size: 16px; }
.post-tag--design { border-right-color: rgb(0, 188, 212); }
.post-tag--tutorial { border-right-color: rgb(76, 175, 80); }
.post-tag--development { border-right-color: rgb(255, 152, 0); }
.post-tag--review { border-right-color: rgb(233, 30, 99); }
.post-pagination-bumper { display: none; }

@media only screen and (min-width: 22.8125em) {
  .logo { width: 4.0625em; float: left; position: relative; left: -0.1875em; }
  .nav-link { padding-left: 0.625em; padding-right: 0.625em; }
  .logo-svg { width: 2.875em; height: 3.125em; position: relative; top: 0.21875em; }
  .nav-label { font-size: 0.875em; margin-bottom: -0.07692em; }
}
@media only screen and (min-width: 25em) {
  .nav-link { padding-left: 0.75em; padding-right: 0.75em; }
}
@media only screen and (min-width: 30em) {
  h1 { font-size: 2em; }
  h2 { font-size: 1.375em; }
  p, figure, .post-content table { font-size: 1.0625em; }
  ul, ol { font-size: 1.0625em; }
  form { font-size: 1.0625em; }
  .container { padding-left: 1.5625em; padding-right: 1.5625em; }
  .section { padding-top: 2.5em; padding-bottom: 2.5em; }
  .section-break-half { padding-top: 1.25em; }
  .header { background-color: rgb(255, 255, 255); height: 4.375em; line-height: 4.1875em; }
  .logo { width: 4.6875em; }
  .nav { width: calc(100% - 4.6875em); }
  .logo { left: initial; }
  .logo-canvas { height: 4.1875em; }
  .logo-svg { width: 3.8125em; height: 4.1875em; top: 0px; }
  .nav { background-color: rgb(255, 255, 255); text-align: right; height: inherit; border-top-width: 0px; border-top-style: initial; border-top-color: initial; top: inherit; float: left; clear: inherit; }
  .nav-link { color: rgb(102, 103, 110); padding-left: 0.6875em; padding-right: 0.6875em; }
  .nav-link.is-current { color: rgb(51, 52, 59); }
  .nav-label { font-size: 1em; padding-top: initial; }
  .form--sidebar-newsletter .form-field-group { float: left; }
  .form--sidebar-newsletter .form-field-group { width: 14.375em; margin-right: 0.3125em; margin-bottom: 0px; }
  .post { padding-left: 1.5625em; padding-right: 1.5625em; }
  .post-meta { font-size: 0.9375em; }
  .post-content p + h2 { margin-top: 1.5625rem; }
  .post-content > hr { margin: 1.875em 0; }
  .post-rating-comments { font-size: 0.9375em; }
}
@media only screen and (min-width: 34.375em) {
  .nav-link { padding-left: 1.125em; padding-right: 1.125em; }
}
@media only screen and (min-width: 40em) {
  h1 { font-size: 2.125em; }
  h2 { font-size: 1.5em; }
  p, figure, .post-content table { font-size: 1.125em; }
  ul, ol { font-size: 1.125em; }
  form { font-size: 1.125em; }
  .section { padding-top: 3.75em; padding-bottom: 3.75em; }
  .section-break-half { padding-top: 1.875em; }
  .logo { width: 4.9375em; }
  .nav { width: calc(100% - 4.9375em); }
  .nav-link { padding-left: 1.375em; padding-right: 1.375em; }
  .sidebar-title { font-size: inherit; }
  .sidebar-section { font-size: 95%; }
  .form--sidebar-newsletter .form-field-group { float: left; }
  .form--sidebar-newsletter .form-field-group { width: 16.875em; margin-right: 0.3125em; margin-bottom: 0px; }
  .post-meta { font-size: 1em; }
  .post-content p + h2 { margin-top: 1.875rem; }
  .post-content > hr { margin: 2.5em 0; }
  .post-rating-comments { font-size: 1em; }
}
@media only screen and (min-width: 48em) {
  .header { height: 5.625em; line-height: 5.4375em; }
  .logo { width: 6.375em; }
  .nav { width: calc(100% - 6.375em); }
  .logo-canvas { height: 5.4375em; }
  .logo-svg { width: 5em; height: 5.4375em; }
  .nav-link { padding-left: 1.5625em; padding-right: 1.5625em; }
}
@media only screen and (min-width: 56.25em) {
  .logo { width: 8.25em; }
  .nav { width: calc(100% - 8.25em); }
  .nav-link { padding-left: 2.5em; padding-right: 2.5em; }
}
@media only screen and (min-width: 64em) {
  h1 { font-size: 2.25em; }
  h2 { font-size: 1.625em; }
  h4 { font-size: 1.0625em; }
  p, figure, .post-content table { font-size: 1.1875em; }
  ul, ol { font-size: 1.1875em; }
  form { font-size: 1.1875em; }
  .main { float: left; display: block; margin-right: 3.63636%; width: 61.13636%; }
  .sidebar { float: left; display: block; margin-right: 3.63636%; width: 30.90909%; margin-left: 4.31818%; }
  .sidebar:last-child { margin-right: 0px; }
  .sidebar-section { font-size: 90%; }
  .form--sidebar-newsletter .form-field-group { width: 100%; margin-bottom: 0.3125em; margin-right: 0px; }
}