* { box-sizing: inherit; }
@font-face { font-family: "RobotoLocal"; font-style: normal; font-weight: 400; src: local("Roboto"), local("Roboto-Regular"); }
@font-face { font-family: "RobotoLocal"; font-style: normal; font-weight: 500; src: local("Roboto Medium"), local("Roboto-Medium"); }
@font-face { font-family: "RobotoLocal"; font-style: normal; font-weight: 700; src: local("Roboto Bold"), local("Roboto-Bold"); }
@font-face { font-family: "RobotoSlabLocal"; font-style: italic; font-weight: 400; src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"); }
html { box-sizing: border-box; }
body { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
body, html { font-family: RobotoLocal, Helvetica, Arial, sans-serif; color: rgb(102, 103, 110); background-color: rgb(34, 35, 38); height: 100%; }
body, html, input { text-rendering: optimizelegibility; -webkit-font-smoothing: antialiased; }
.fonts-loaded body { font-family: Roboto, Helvetica, Arial, sans-serif; }

.paris { text-align: center; background: linear-gradient(to right, #002395 33.3%, #fff 33.3%, #fff 66.6%, #e72837 66.6%, #e72837); padding-top: 4.6875em; }
.paris-text { font-size: 0.875em; font-family: Roboto; color: #33343b; text-transform: uppercase; background-color: rgba(255, 255, 255, 0.7); padding: 0.71429em; margin-bottom: 0.71429em; display: inline-block; }
@media only screen and (min-width: 30em) {
  .paris { padding-top: 6.25em; }
}
@media only screen and (min-width: 40em) {
  .paris { padding-top: 7.8125em; }
}
@media only screen and (min-width: 64em) {
  .paris { padding-top: 9.375em; }
}

article, aside, header, nav, section { display: block; }
hr { box-sizing: content-box; height: 0px; }
input { color: inherit; font: inherit; line-height: normal; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
svg:not(:root) { overflow-x: hidden; overflow-y: hidden; }

h2, h4 { color: rgb(51, 52, 59); margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
h2 { font-size: 1.25em; line-height: 1.3em; margin-bottom: 0.35em; }
h4 { font-size: 1em; line-height: 1.4em; margin-bottom: 0.5em; }
p { font-size: 1em; letter-spacing: 0px; line-height: 1.5em; margin-top: 0px; margin-right: 0px; margin-left: 0px; margin-bottom: 0.75em; text-rendering: optimizelegibility; -webkit-font-smoothing: antialiased; }
a { color: rgb(102, 103, 110); text-decoration: none; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(187, 222, 251); background-color: transparent; }

.container { padding-left: 0.9375em; padding-right: 0.9375em; max-width: 68.75em; margin-left: auto; margin-right: auto; position: relative; }
.container::after { clear: both; content: ''; display: table; }
.section { background-color: rgb(255, 255, 255); padding-top: 1.5625em; padding-bottom: 1.5625em; }
.section::after { clear: both; content: ''; display: table; }
.section-break-half { width: 100%; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
.section-break-half::after { clear: both; content: ''; display: table; }
.section-break-half { padding-top: 0.78125em; }
.main, .sidebar { max-width: 39.0625em; margin-left: auto; margin-right: auto; }
.header-border { width: 100%; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-top-width: 0.1875em; border-top-style: solid; border-top-color: rgb(230, 231, 235); position: absolute; bottom: 0px; left: 0px; z-index: 1; }
.header { background-color: rgb(34, 35, 38); height: 3.75em; line-height: 3.5625em; overflow-x: hidden; overflow-y: hidden; position: relative; z-index: 3; }
.header::after { clear: both; content: ''; display: table; }
.logo { width: 3.125em; float: left; position: relative; left: -0.3125em; }
.logo-link { text-align: center; border-bottom-width: 0.1875em; border-bottom-color: transparent; display: block; position: relative; z-index: 2; }
.logo-canvas { position: relative; height: 3.5625em; }
.logo-svg { width: 2.3958333333em; height: 2.6041666667em; position: relative; top: 0.4375em; }
.logo-svg polygon { stroke: #bbbcc3; stroke-width: 1px; }
.logo-svg g { -webkit-transform: translateX(0px); }
.logo-svg-g-1 { fill: #3fae52; }
.logo-svg-g-2 { fill: #7cc686; }
.logo-svg-g-3 { fill: #2d8d43; }
.logo-svg-c-1 { fill: #00bad2; }
.logo-svg-c-2 { fill: #0097a7; }
.logo-svg-c-3 { fill: #4ac4d7; }
.logo-svg-c-4 { fill: #00bad2; }
.logo-svg-b-1 { fill: #62b3e4; }
.logo-svg-b-2 { fill: #1b77bd; }
.logo-svg-b-3 { fill: #62b3e4; }
.logo-svg-b-4 { fill: #3191cf; }
.logo-svg-pu-1 { fill: #7a3594; }
.logo-svg-pu-2 { fill: #944198; }
.logo-svg-pu-3 { fill: #b06eae; }
.logo-svg-pu-4 { fill: #944198; }
.logo-svg-pi-1 { fill: #e81f64; }
.logo-svg-pi-2 { fill: #c21e5c; }
.logo-svg-pi-3 { fill: #f06392; }
.logo-svg-pi-4 { fill: #e81f64; }
.logo-svg-pi-5 { fill: #c21e5c; }
.logo-svg-r-1 { fill: #ef4438; }
.logo-svg-r-2 { fill: #e57373; }
.logo-svg-r-3 { fill: #d32e2e; }
.logo-svg-r-4 { fill: #ef4438; }
.logo-svg-r-5 { fill: #d32e2e; }
.logo-svg-o-1 { fill: #f47c20; }
.logo-svg-o-2 { fill: #f8951f; }
.logo-svg-o-3 { fill: #f47c20; }
.logo-svg-o-4 { fill: #fcb452; }
.logo-svg-y-1 { fill: #fedc63; }
.logo-svg-y-2 { fill: #fecd27; }
.logo-svg-y-3 { fill: #faa71c; }
.nav { text-align: center; background-color: rgb(34, 35, 38); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(58, 60, 68); position: relative; top: -1px; float: right; }
.nav-link { font-weight: 500; color: rgb(187, 188, 195); letter-spacing: 0.03em; text-transform: uppercase; border-bottom-width: 0.1875em; border-bottom-color: transparent; padding-left: 0.4375em; padding-right: 0.4375em; margin-left: -0.3125em; display: inline-block; position: relative; z-index: 2; }
.nav-link:first-child { margin-left: 0px; }
.nav-label { font-size: 0.8125em; margin-bottom: -0.0769230769em; display: inline-block; }
.align, .align-cell { width: 100%; height: 100%; }
.align { display: table; }
.align-cell { display: table-cell; text-align: center; vertical-align: middle; }
.hero { padding-left: 0.9375em; padding-right: 0.9375em; height: 12.5em; background-size: cover; background-color: rgb(33, 150, 243); position: relative; background-position: 50% 50%; background-repeat: no-repeat no-repeat; }
.hero::before { content: ''; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 1; }
.sidebar-title { font-size: 95%; letter-spacing: 0.07em; text-transform: uppercase; margin-bottom: 1em; }
.sidebar-list { line-height: 1em; list-style-type: none; list-style-position: initial; list-style-image: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
.sidebar-list-item { margin-bottom: 0.3em; }
.sidebar-list-link { color: rgb(137, 138, 146); border-bottom-color: rgb(230, 231, 235); }
.svg-icon { overflow-x: visible; overflow-y: visible; }
.post { padding-left: 0.9375em; padding-right: 0.9375em; max-width: 68.75em; margin-left: auto; margin-right: auto; position: relative; }
.post::after { clear: both; content: ''; display: table; }
.post--posts .post-article { border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(230, 231, 235); padding-bottom: 1.25em; margin-bottom: 1.25em; }
.post--posts .post-content p:last-child { margin-bottom: 0px; }
.post--posts .post-title .svg-icon-external { fill: #bbbcc3; width: 0.5em; height: 0.5em; margin-left: 0.1875em; position: absolute; margin-top: 0.0625em; }
.post-title { margin-bottom: 0.5em; }
.post-link { color: rgb(34, 35, 38); border-bottom-color: transparent; }
.post-meta { font-size: 0.875em; color: rgb(153, 154, 161); }
.hero--home { height: 21.875em; background-image: url(/assets/images/audi.jpg); }
.hero--home::before { background-color: rgba(34, 35, 38, 0.699219); }
.hero--home .align-cell { text-align: center; color: rgb(255, 255, 255); z-index: 2; height: 50%; position: relative; display: table; }
.home-hero-svg { width: 8.2125em; height: 9em; margin-top: 1.875em; }
.home-hero-svg polygon { stroke: rgba(255, 255, 255, 0.29804); stroke-width: 2px; fill: rgba(0, 0, 0, 0.0); stroke-dasharray: 50px; stroke-dashoffset: 50px; -webkit-animation-name: home-hero-svg; -webkit-animation-duration: 15s; -webkit-animation-timing-function: linear; -webkit-animation-delay: initial; -webkit-animation-iteration-count: infinite; -webkit-animation-direction: initial; -webkit-animation-fill-mode: initial; }
.home-hero-svg polygon:nth-child(odd) { stroke: rgba(33, 150, 243, 0.80000); }
.home-hero-name { font-size: 1.625em; font-weight: 500; color: rgb(255, 255, 255); letter-spacing: 0.05em; margin-bottom: 0px; }
.home-hero-tagline { font-weight: 300; font-size: 0.875em; color: rgba(255, 255, 255, 0.496094); text-transform: uppercase; letter-spacing: 0.08em; margin-bottom: 1.4285714286em; }
.home-hero-button { font-size: 0.875em; font-weight: 500; color: rgb(255, 255, 255); text-transform: uppercase; padding-top: 1.0714285714em; padding-right: 1.7857142857em; padding-bottom: 1.0714285714em; padding-left: 1.7857142857em; border-top-width: 2px; border-right-width: 2px; border-bottom-width: 2px; border-left-width: 2px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(255, 255, 255, 0.496094); border-right-color: rgba(255, 255, 255, 0.496094); border-bottom-color: rgba(255, 255, 255, 0.496094); border-left-color: rgba(255, 255, 255, 0.496094); display: inline-block; position: relative; }
.home-hero-disclaimer { font-size: 0.6875em; color: rgba(255, 255, 255, 0.148438); position: absolute; right: 0px; bottom: 0.625em; }
.home-hero-arrow { border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 1.25em; padding-right: 1.875em; padding-bottom: 1.25em; padding-left: 1.875em; left: 50%; bottom: 0px; margin-left: -2.8125em; position: absolute; z-index: 2; display: none; }
.home-hero-arrow .svg-icon { width: 1.875em; height: 1.09375em; }
.home-hero-arrow path { fill: rgba(255, 255, 255, 0.29804); }
.home-posts-title { font-size: 0.9375em; color: #999aa1; letter-spacing: 0.07em; text-transform: uppercase; margin-bottom: 1em; }
.work-selected-item-title { color: rgb(255, 255, 255); }
.work-selected-item-title { font-size: 1em; text-transform: uppercase; margin-bottom: 0.9375em; }
.work-selected { list-style-type: none; list-style-position: initial; list-style-image: initial; padding-left: 0px; }
.work-selected-item { height: 6.25em; position: relative; }
.work-selected-item-link { border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; display: block; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; background-color: rgb(0, 188, 212); background-size: cover; background-position: 50% 50%; }
.work-selected-item-link::before { content: ''; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 1; }
.work-selected-item-content { position: absolute; left: 0.9375em; bottom: 0.625em; }
.work-selected-item-title { font-size: 95%; margin-bottom: 0px; position: relative; z-index: 2; }
.work-selected-item-link--juice-interactive { background-color: rgb(248, 132, 0); }
.work-selected-item-link--juice-interactive::before { background-color: rgba(248, 132, 0, 0.496094); }
.work-selected-item-link--redlegg { background-color: rgb(235, 55, 47); }
.work-selected-item-link--redlegg::before { background-color: rgba(235, 55, 47, 0.597656); }
.work-selected-item-link--twoplease { background-color: rgb(80, 9, 75); }
.work-selected-item-link--twoplease::before { background-color: rgba(80, 9, 75, 0.597656); }

@media only screen and (min-width: 22.8125em) {
  .logo { width: 4.0625em; float: left; position: relative; left: -0.1875em; }
  .nav-link { padding-left: 0.625em; padding-right: 0.625em; }
  .logo-svg { width: 2.875em; height: 3.125em; position: relative; top: 0.21875em; }
  .nav-label { font-size: 0.875em; margin-bottom: -0.0769230769em; }
}
@media only screen and (min-width: 25em) {
  .nav-link { padding-left: 0.75em; padding-right: 0.75em; }
}
@media only screen and (min-width: 30em) {
  h2 { font-size: 1.375em; }
  p { font-size: 1.0625em; }
  .container { padding-left: 1.5625em; padding-right: 1.5625em; }
  .section { padding-top: 2.5em; padding-bottom: 2.5em; }
  .section-break-half { padding-top: 1.25em; }
  .header { background-color: rgb(255, 255, 255); height: 4.375em; line-height: 4.1875em; }
  .logo { width: 4.6875em; }
  .nav { width: calc(100% - 4.6875em); }
  .logo { left: initial; }
  .logo-canvas { height: 4.1875em; }
  .logo-svg { width: 3.8125em; height: 4.1875em; top: 0px; }
  .nav { background-color: rgb(255, 255, 255); text-align: right; height: inherit; border-top-width: 0px; border-top-style: initial; border-top-color: initial; top: inherit; float: left; clear: inherit; }
  .nav-link { color: rgb(102, 103, 110); padding-left: 0.6875em; padding-right: 0.6875em; }
  .nav-label { font-size: 1em; padding-top: initial; }
  .hero { height: 18.75em; padding-left: 1.5625em; padding-right: 1.5625em; }
  .post { padding-left: 1.5625em; padding-right: 1.5625em; }
  .post-meta { font-size: 0.9375em; }
  .post--posts .post-article { padding-bottom: 1.5625em; margin-bottom: 1.5625em; }
  .hero--home { height: 26.5625em; }
  .home-hero-svg { width: 9.125em; height: 10em; margin-top: 3.125em; }
  .home-hero-name { font-size: 1.875em; }
  .home-hero-tagline { font-size: 0.9375em; letter-spacing: 0.12em; margin-bottom: 1.3333333333em; }
  .home-hero-disclaimer { bottom: 1.25em; }
  .home-posts-title { font-size: 0.9375em; }
  .work-selected-item { height: 7.8125em; }
}
@media only screen and (min-width: 34.375em) {
  .nav-link { padding-left: 1.125em; padding-right: 1.125em; }
}
@media only screen and (min-width: 40em) {
  h2 { font-size: 1.5em; }
  p { font-size: 1.125em; }
  .section { padding-top: 3.75em; padding-bottom: 3.75em; }
  .section-break-half { padding-top: 1.875em; }
  .logo { width: 4.9375em; }
  .nav { width: calc(100% - 4.9375em); }
  .nav-link { padding-left: 1.375em; padding-right: 1.375em; }
  .hero { height: 25em; }
  .sidebar-title { font-size: inherit; }
  .sidebar-section { font-size: 95%; }
  .post-meta { font-size: 1em; }
  .post--posts .post-article { padding-bottom: 1.875em; margin-bottom: 1.875em; }
  .post-pagination-page-label { display: inline; }
  .hero--home { height: 25em; }
  .hero--home .align-cell { text-align: left; width: 50%; height: 100%; display: table-cell; }
  .hero--home .align-cell--home-hero-logo { text-align: right; }
  .home-hero-svg { width: 13.6875em; height: 15em; margin-top: 0px; }
  .home-hero-svg polygon { stroke-width: 1px; }
  .home-hero-introduction { text-align: center; max-width: 16.25rem; }
  .home-hero-button { letter-spacing: 0.05em; padding-top: 1.0714285714em; padding-right: 2.5em; padding-bottom: 1.0714285714em; padding-left: 2.5em; }
  .home-hero-disclaimer { bottom: 2.1875em; }
  .work-selected-item { height: 9.375em; }
}
@media only screen and (min-width: 48em) {
  .header { height: 5.625em; line-height: 5.4375em; }
  .logo { width: 6.375em; }
  .nav { width: calc(100% - 6.375em); }
  .logo-canvas { height: 5.4375em; }
  .logo-svg { width: 5em; height: 5.4375em; }
  .nav-link { padding-left: 1.5625em; padding-right: 1.5625em; }
  .hero--home { height: calc(100% - 7.1875em); min-height: 25em; max-height: 31.25em; }
  .home-hero-introduction { max-width: 18.75rem; }
  .home-hero-name { font-size: 2.25em; margin-bottom: 0.1388888889em; }
  .home-hero-tagline { font-size: 1em; letter-spacing: 0.21em; margin-bottom: 1.25em; }
  .home-hero-arrow { display: inline-block; }
}
@media only screen and (min-width: 56.25em) {
  .logo { width: 8.25em; }
  .nav { width: calc(100% - 8.25em); }
  .nav-link { padding-left: 2.5em; padding-right: 2.5em; }
}
@media only screen and (min-width: 64em) {
  h2 { font-size: 1.625em; }
  h4 { font-size: 1.0625em; }
  p, figure { font-size: 1.1875em; }
  .main { float: left; display: block; margin-right: 3.6363636364%; width: 61.1363636364%; }
  .sidebar { float: left; display: block; margin-right: 3.6363636364%; width: 30.9090909091%; margin-left: 4.3181818182%; }
  .sidebar:last-child { margin-right: 0px; }
  .sidebar-section { font-size: 90%; }
  .hero--home { background-image: url(/assets/images/audi@2x.jpg); }
  .home-hero-name { font-size: 2.5em; margin-bottom: 0.125em; }
  .home-hero-tagline { letter-spacing: 0.3em; }
  .home-posts-title { font-size: 0.90625em; }
  .work-selected-item { height: 7.8125em; }
}