* { box-sizing: inherit; }
@font-face { font-family: "RobotoLocal"; font-style: normal; font-weight: 400; src: local("Roboto"), local("Roboto-Regular"); }
@font-face { font-family: "RobotoLocal"; font-style: normal; font-weight: 500; src: local("Roboto Medium"), local("Roboto-Medium"); }
@font-face { font-family: "RobotoLocal"; font-style: normal; font-weight: 700; src: local("Roboto Bold"), local("Roboto-Bold"); }
@font-face { font-family: "LoraLocal"; font-style: italic; font-weight: 400; src: local("Lora Italic"), local("Lora-Italic"); }
html { box-sizing: border-box; }
body { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
body, html { font-family: RobotoLocal, Helvetica, Arial, sans-serif; text-rendering: optimizelegibility; -webkit-font-smoothing: antialiased; color: rgb(102, 103, 110); background-color: rgb(34, 35, 38); height: 100%; }
.fonts-loaded body { font-family: Roboto, Helvetica, Arial, sans-serif; }

header, nav, section { display: block; }
hr { box-sizing: content-box; height: 0px; }
svg:not(:root) { overflow-x: hidden; overflow-y: hidden; }

h2, h3 { color: rgb(51, 52, 59); margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
h2 { font-size: 1.25em; line-height: 1.3em; margin-bottom: 0.35em; }
h3 { font-size: 1.125em; line-height: 1.35em; margin-bottom: 0.4em; }
p { font-size: 1em; letter-spacing: 0px; line-height: 1.5em; margin-top: 0px; margin-right: 0px; margin-left: 0px; margin-bottom: 0.75em; text-rendering: optimizelegibility; -webkit-font-smoothing: antialiased; }
a { color: rgb(102, 103, 110); text-decoration: none; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(187, 222, 251); background-color: transparent; }

.container { padding-left: 0.9375em; padding-right: 0.9375em; max-width: 68.75em; margin-left: auto; margin-right: auto; position: relative; }
.container::after { clear: both; content: ''; display: table; }
.header-border { width: 100%; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-top-width: 0.1875em; border-top-style: solid; border-top-color: rgb(230, 231, 235); position: absolute; bottom: 0px; left: 0px; z-index: 1; }
.header { background-color: rgb(34, 35, 38); height: 3.75em; line-height: 3.5625em; overflow-x: hidden; overflow-y: hidden; position: relative; z-index: 3; }
.header::after { clear: both; content: ''; display: table; }
.logo { width: 3.125em; float: left; position: relative; left: -0.3125em; }
.logo-link { text-align: center; border-bottom-width: 0.1875em; border-bottom-color: transparent; display: block; position: relative; z-index: 2; }
.logo-canvas { position: relative; height: 3.5625em; }
.logo-svg { width: 2.39583em; height: 2.60417em; position: relative; top: 0.4375em; }
.logo-svg polygon { stroke: #bbbcc3; stroke-width: 1px; }
.logo-svg g { -webkit-transform: translateX(0px); }
.logo-svg-g-1 { fill: #3fae52; }
.logo-svg-g-2 { fill: #7cc686; }
.logo-svg-g-3 { fill: #2d8d43; }
.logo-svg-c-1 { fill: #00bad2; }
.logo-svg-c-2 { fill: #0097a7; }
.logo-svg-c-3 { fill: #4ac4d7; }
.logo-svg-c-4 { fill: #00bad2; }
.logo-svg-b-1 { fill: #62b3e4; }
.logo-svg-b-2 { fill: #1b77bd; }
.logo-svg-b-3 { fill: #62b3e4; }
.logo-svg-b-4 { fill: #3191cf; }
.logo-svg-pu-1 { fill: #7a3594; }
.logo-svg-pu-2 { fill: #944198; }
.logo-svg-pu-3 { fill: #b06eae; }
.logo-svg-pu-4 { fill: #944198; }
.logo-svg-pi-1 { fill: #e81f64; }
.logo-svg-pi-2 { fill: #c21e5c; }
.logo-svg-pi-3 { fill: #f06392; }
.logo-svg-pi-4 { fill: #e81f64; }
.logo-svg-pi-5 { fill: #c21e5c; }
.logo-svg-r-1 { fill: #ef4438; }
.logo-svg-r-2 { fill: #e57373; }
.logo-svg-r-3 { fill: #d32e2e; }
.logo-svg-r-4 { fill: #ef4438; }
.logo-svg-r-5 { fill: #d32e2e; }
.logo-svg-o-1 { fill: #f47c20; }
.logo-svg-o-2 { fill: #f8951f; }
.logo-svg-o-3 { fill: #f47c20; }
.logo-svg-o-4 { fill: #fcb452; }
.logo-svg-y-1 { fill: #fedc63; }
.logo-svg-y-2 { fill: #fecd27; }
.logo-svg-y-3 { fill: #faa71c; }
.nav { text-align: center; background-color: rgb(34, 35, 38); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(58, 60, 68); position: relative; top: -1px; float: right; }
.nav-link { font-weight: 500; color: rgb(187, 188, 195); letter-spacing: 0.03em; text-transform: uppercase; border-bottom-width: 0.1875em; border-bottom-color: transparent; padding-left: 0.4375em; padding-right: 0.4375em; margin-left: -0.3125em; display: inline-block; position: relative; z-index: 2; }
.nav-link:first-child { margin-left: 0px; }
.nav-label { font-size: 0.8125em; margin-bottom: -0.07692em; display: inline-block; }
.nav-link.is-current { color: rgb(255, 255, 255); }
.nav-link.is-current:nth-child(2) { border-top-color: rgb(0, 188, 212); border-right-color: rgb(0, 188, 212); border-bottom-color: rgb(0, 188, 212); border-left-color: rgb(0, 188, 212); }
.svg-icon { overflow-x: visible; overflow-y: visible; }
.work-menu { background-color: rgb(255, 255, 255); }
.work-menu::after { clear: both; content: ''; display: table; }
.work-menu-item { height: 12.5em; background-color: rgb(0, 188, 212); background-size: cover; position: relative; background-position: 50% 50%; background-repeat: no-repeat no-repeat; }
.work-menu-item::after { content: ''; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 1; }
.work-menu-item:nth-child(3n+1) { background-color: rgb(0, 188, 212); }
.work-menu-item:nth-child(3n+2) { background-color: rgb(0, 172, 193); }
.work-menu-item:nth-child(3n+3) { background-color: rgb(77, 208, 225); }
.work-item-content { padding-top: 0.9375em; padding-right: 0.9375em; padding-bottom: 0.9375em; padding-left: 0.9375em; position: absolute; left: 0.625em; bottom: 0.625em; z-index: 2; }
.work-item-title, .work-item-intro { color: rgb(255, 255, 255); }
.work-item-intro { font-size: 1.125em; font-weight: 400; display: inline-block; margin-bottom: 0.625rem; }
.work-item-title { font-size: 1em; text-transform: uppercase; margin-bottom: 0.9375em; }
.work-item-link { font-size: 0.875em; font-weight: 500; color: rgb(255, 255, 255); text-transform: uppercase; padding-top: 0.71429em; padding-right: 1.42857em; padding-bottom: 0.71429em; padding-left: 1.42857em; border-top-width: 2px; border-right-width: 2px; border-bottom-width: 2px; border-left-width: 2px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(255, 255, 255, 0.496094); border-right-color: rgba(255, 255, 255, 0.496094); border-bottom-color: rgba(255, 255, 255, 0.496094); border-left-color: rgba(255, 255, 255, 0.496094); display: inline-block; position: relative; }
.work-menu-item--foodize { background-color: rgb(72, 16, 10) !important; }
.work-menu-item--foodize::after { background-color: rgba(72, 16, 10, 0.496094); }
.work-menu-item--foodize .work-item-intro { max-width: 8.88889em; }
.work-menu-item--jsbible { background-color: rgb(238, 2, 6) !important; }
.work-menu-item--jsbible::after { background-color: rgba(0, 0, 0, 0.296875); }
.work-menu-item--jsbible .work-item-intro { max-width: 10em; }
.work-menu-item--juice-interactive { background-color: rgb(248, 132, 0) !important; }
.work-menu-item--juice-interactive::after { background-color: rgba(248, 132, 0, 0.496094); }
.work-menu-item--juice-interactive .work-item-intro { max-width: 12.22222em; }
.work-menu-item--psalms-cd { background-color: rgb(22, 36, 60) !important; }
.work-menu-item--psalms-cd::after { background-color: rgba(22, 36, 60, 0.496094); }
.work-menu-item--psalms-cd .work-item-intro { max-width: 12.5em; }
.work-menu-item--redlegg { background-color: rgb(235, 55, 47) !important; }
.work-menu-item--redlegg::after { background-color: rgba(235, 55, 47, 0.597656); }
.work-menu-item--redlegg .work-item-intro { max-width: 13.88889em; }
.work-menu-item--twoplease { background-color: rgb(80, 9, 75) !important; }
.work-menu-item--twoplease::after { background-color: rgba(80, 9, 75, 0.496094); }
.work-menu-item--twoplease .work-item-intro { max-width: 15.55556em; }
.footer { position: relative; }
.footer-top { text-align: right; position: absolute; top: 0px; left: 0px; right: 0px; z-index: 3; }
a.footer-top-link { display: inline-block; }
a.footer-top-link .svg-icon { width: 0.75em; height: 0.4375em; }
a.footer-top-link .svg-icon-path { fill: #66676e; }
.footer-top-link-label { font-size: 0.75em; color: rgb(102, 103, 110); font-weight: 600; text-transform: uppercase; }
.footer-logo-canvas { width: 4.5625em; height: 5em; position: relative; display: inline-block; }
.footer-logo-svg polygon { stroke: #bbbcc3; stroke-width: 1px; fill: rgba(0, 0, 0, 0.0); }
.footer-link-home { font-weight: 700; color: rgb(255, 255, 255); letter-spacing: 0.03em; display: inline-block; }
.footer-link-twitter .svg-icon { width: 1.375em; height: 1.375em; position: relative; top: 0.3125em; }
.footer-link-twitter .svg-icon-path { fill: #55acee; }
.footer-link { color: rgb(153, 154, 161); display: inline-block; }
.footer-link--rss .svg-icon { width: 0.75em; height: 0.75em; }
.footer-link--rss .svg-icon-path { fill: #66676e; }
.footer-copyright { font-size: 0.9em; margin-bottom: 0px; }
.footer-made-with { font-size: 0.85em; }
.footer-made-with .svg-icon { fill: #e91e63; width: 1.25em; height: 1.25em; display: inline; overflow-x: visible; overflow-y: visible; position: relative; }

@media only screen and (min-width: 22.8125em) {
  .logo { width: 4.0625em; float: left; position: relative; left: -0.1875em; }
  .nav-link { padding-left: 0.625em; padding-right: 0.625em; }
  .logo-svg { width: 2.875em; height: 3.125em; position: relative; top: 0.21875em; }
  .nav-label { font-size: 0.875em; margin-bottom: -0.07692em; }
}
@media only screen and (min-width: 23.75em) {
  .work-item-intro { font-size: 1.375em; font-weight: 300; }
  .work-menu-item--foodize .work-item-intro { max-width: 8.63636em; }
  .work-menu-item--jsbible .work-item-intro { max-width: 10em; }
  .work-menu-item--juice-interactive .work-item-intro { max-width: 12.27273em; }
  .work-menu-item--psalms-cd .work-item-intro { max-width: 12.27273em; }
  .work-menu-item--redlegg .work-item-intro { max-width: 13.63636em; }
  .work-menu-item--twoplease .work-item-intro { max-width: 15.45455em; }
}
@media only screen and (min-width: 25em) {
  .nav-link { padding-left: 0.75em; padding-right: 0.75em; }
}
@media only screen and (min-width: 30em) {
  h2 { font-size: 1.375em; }
  h3 { font-size: 1.1875em; }
  p { font-size: 1.0625em; }
  .container { padding-left: 1.5625em; padding-right: 1.5625em; }
  .header { background-color: rgb(255, 255, 255); height: 4.375em; line-height: 4.1875em; }
  .logo { width: 4.6875em; }
  .nav { width: calc(100% - 4.6875em); }
  .logo { left: initial; }
  .logo-canvas { height: 4.1875em; }
  .logo-svg { width: 3.8125em; height: 4.1875em; top: 0px; }
  .nav { background-color: rgb(255, 255, 255); text-align: right; height: inherit; border-top-width: 0px; border-top-style: initial; border-top-color: initial; top: inherit; float: left; clear: inherit; }
  .nav-link { color: rgb(102, 103, 110); padding-left: 0.6875em; padding-right: 0.6875em; }
  .nav-link.is-current { color: rgb(51, 52, 59); }
  .nav-label { font-size: 1em; padding-top: initial; }
  .work-menu-item { height: 15.625em; }
  .work-item-content { padding-top: 1.5625em; padding-right: 1.5625em; padding-bottom: 1.5625em; padding-left: 1.5625em; left: 0px; bottom: 0px; }
  .work-item-intro { font-size: 1.5em; font-weight: 300; }
  .work-item-link { padding-top: 1.07143em; padding-right: 1.78571em; padding-bottom: 1.07143em; padding-left: 1.78571em; }
  .work-menu-item--foodize .work-item-intro { max-width: 9.16667em; }
  .work-menu-item--jsbible .work-item-intro { max-width: 10em; }
  .work-menu-item--juice-interactive .work-item-intro { max-width: 12.08333em; }
  .work-menu-item--psalms-cd .work-item-intro { max-width: 12.08333em; }
  .work-menu-item--redlegg .work-item-intro { max-width: 13.95833em; }
  .work-menu-item--twoplease .work-item-intro { max-width: 15.41667em; }
}
@media only screen and (min-width: 34.375em) {
  .nav-link { padding-left: 1.125em; padding-right: 1.125em; }
}
@media only screen and (min-width: 40em) {
  h2 { font-size: 1.5em; }
  h3 { font-size: 1.25em; }
  p { font-size: 1.125em; }
  .logo { width: 4.9375em; }
  .nav { width: calc(100% - 4.9375em); }
  .nav-link { padding-left: 1.375em; padding-right: 1.375em; }
  .work-menu-item { height: 18.75em; }
  .work-item-content { padding-top: 3.125em; padding-right: 3.125em; padding-bottom: 3.125em; padding-left: 3.125em; }
  .work-item-intro { font-size: 1.75em; }
  .work-item-link { padding-top: 1.07143em; padding-right: 2.5em; padding-bottom: 1.07143em; padding-left: 2.5em; }
  .work-menu-item--foodize .work-item-intro { max-width: 8.92857em; }
  .work-menu-item--jsbible .work-item-intro { max-width: 9.64286em; }
  .work-menu-item--juice-interactive .work-item-intro { max-width: 12.5em; }
  .work-menu-item--psalms-cd .work-item-intro { max-width: 12.5em; }
  .work-menu-item--redlegg .work-item-intro { max-width: 13.92857em; }
  .work-menu-item--twoplease .work-item-intro { max-width: 15em; }
}
@media only screen and (min-width: 48em) {
  .header { height: 5.625em; line-height: 5.4375em; }
  .logo { width: 6.375em; }
  .nav { width: calc(100% - 6.375em); }
  .logo-canvas { height: 5.4375em; }
  .logo-svg { width: 5em; height: 5.4375em; }
  .nav-link { padding-left: 1.5625em; padding-right: 1.5625em; }
}
@media only screen and (min-width: 51.25em) {
  .footer-column--left { float: left; width: 25em; }
  .footer-column--right { text-align: right; padding-top: 1.8125em; float: right; width: 18.75em; }
  .footer-logo { float: left; }
}
@media only screen and (min-width: 56.25em) {
  .logo { width: 8.25em; }
  .nav { width: calc(100% - 8.25em); }
  .nav-link { padding-left: 2.5em; padding-right: 2.5em; }
}
@media only screen and (min-width: 64em) {
  h2 { font-size: 1.625em; }
  h3 { font-size: 1.3125em; }
  p { font-size: 1.1875em; }
  .work-menu-item { width: 50%; float: left; }
}