// Mixins
// ==================================================

// Font smoothing
// ==================================================
@mixin font-smoothing($smooth: true) {
  $moz: auto;
  $webkit: subpixel-antialiased;

  @if $smooth == true or $smooth == on {
    $moz: grayscale;
    $webkit: antialiased;
  }

  -moz-osx-font-smoothing: $moz;
  -webkit-font-smoothing : $webkit;
}

// Clearfix hide
// ==================================================
@mixin clearfix-hide {
  &:after {
    display: none;
  }
}

// Dark mode
// ==================================================
@mixin dark {
  @if $dark-mode == true {
    html.dark {
      @content;
    }
  }
}

// Max width
// ==================================================
@mixin max-width($padding: true) {
  @if $padding == true {
    @each $breakpoint, $value in $spacing {
      @if $breakpoint == default {
        max-width: $grid-width + em($value * 2);
      }
      @else {
        @include mq($breakpoint) {
          max-width: $grid-width + em($value * 2);
        }
      }
    }
  }
  @else {
    max-width: $grid-width;
  }
}

// Sans-serif and Serif
// ==================================================
@mixin sans-serif {
  font-family: $sans-serif;
}

@mixin serif {
  font-family: $serif;
}
