// Type scale
// ==================================================

// Breakpoints based on mq-sass
$type-scale-breakpoints: (
  small,
  medium,
  large,
);

@mixin type-scale($font-size, $scale, $type: modular) {
  font-size: $font-size;

  @each $breakpoint in $type-scale-breakpoints {
    @if $type == incremental {
      $font-size: $font-size + $scale;
    }
    @else {
      $font-size: $font-size * $scale;
    }

    @include mq($breakpoint) {
      font-size: $font-size;
    }
  }

  @content;
}
