// Type scale
// ==================================================

// Breakpoints based on mq-sass
$type-scale-breakpoints: (
  small,
  medium,
  large,
);

@mixin type-scale($font-size, $scale, $max-font-size: false) {
  font-size: $font-size;

  @each $breakpoint in $type-scale-breakpoints {
    // modular
    @if unitless($scale) == true {
      $font-size: $font-size * $scale;
    }
    // incremental
    @else {
      $font-size: $font-size + $scale;
    }

    @if $max-font-size == false or ($max-font-size != false and $font-size <= $max-font-size) {
      @include mq($breakpoint) {
        font-size: $font-size;
      }
    }
  }

  @content;
}
