<div class="spm--xy sepline sepline--top">
  <footer class="container d--f jc--sb ai--c fw--w" role="contentinfo">
    <div class="footer__around">
      <a href="/about/" class="footer-link">About</a>
      <a href="/work/" class="footer-link">Work</a>
      <a href="/blog/" class="footer-link">Blog</a>
      <a href="/contact/" class="footer-link">Contact</a>
    </div>
    <div class="footer__logo ta--c">
<%- partial('_partial/logo', {}, {cache: true}) %>
    </div>
    <div class="footer__around footer__around--copyright">
      <span class="footer-copyright">2017 © Jonathan Suh</span>
    </div>
  </footer>
</div>
