<div class="p--xy">
  <header class="container d--f jc--sb" role="banner">
<%- partial('_partial/logo', {animated: true}, {cache: true}) %>
    <nav class="d--f ai--s" role="navigation">
      <a href="/about/" class="navigation-link">About</a>
      <a href="/work/" class="navigation-link">Work</a>
      <a href="/blog/" class="navigation-link">Blog</a>
      <a href="/contact/" class="navigation-link">Contact</a>
    </nav>
  </header>
</div>
