<a href="/" class="logo<% if (locals.animated) { %> logo--animated<% } %>">
  <div class="logo__box"></div>
  <div class="logo__text">
    <span class="logo-first">J</span><div class="logo__overflow">
      <span class="logo-rest">onathan</span>
    </div>
    <span class="logo-first logo-first--s">S</span><div class="logo__overflow">
      <span class="logo-rest logo-rest--uh">uh</span>
    </div>
  </div>
</a>
