// Selection
// ==================================================
::selection {
  color: $white;
  background-color: $grey-darker;
}

blockquote ::selection,
.figure ::selection {
  color: $white;
  background-color: $blue-800;
}

figure pre ::selection {
  background-color: $grey-darkest;
}

// Dark
// ==================================================
@include dark {
  ::selection {
    color: $grey-lighter;
    background-color: $grey-darkest;
  }

  blockquote ::selection,
  .figure ::selection {
    color: $grey-lighter;
    background-color: $blue-900;
  }
}
