// ==================================================
// Juice Interactive
// ==================================================
$project-color          : #f88400;
$project-color-secondary: #424242;

// Selected
// ==================================================
.work-selected-item-link--juice-interactive {
  background-color: $project-color;
  @include retina-background-image("work/juice-interactive/thumbnail.jpg");
  &:before {
    background-color: rgba($project-color, 0.5);
    @include linear-gradient(to right, rgba($project-color, 0.5), rgba($project-color, 0));
    @include transition(background $transition-duration ease);
  }

  &:hover {
    background-color: scale-color($project-color, $lightness: 10%);
    &:before {
      background-color: rgba($project-color, 0.3);
      @include linear-gradient(to right, rgba($project-color, 0.3), rgba($project-color, 0));
    }
  }
}

// Menu Item
// ==================================================
.work-menu-item--juice-interactive {
  background-color: $project-color !important;
  @include retina-background-image("work/juice-interactive/thumbnail.jpg");
  &:after {
    background-color: rgba($project-color, 0.5);
    @include linear-gradient(to right, rgba($project-color, 0.5), rgba($project-color, 0));
  }

  @include work-item-introduction(220, 270, 290, 350);

  .work-item-link:hover {
    color: $project-color;
  }
}

// Hero
// ==================================================
.hero--juice-interactive {
  background-color: $project-color;
  @include retina-background-image("work/juice-interactive/thumbnail.jpg");
  @include mq(large) {
    background-image: image-url("work/juice-interactive/thumbnail@2x.jpg");
  }

  &:before {
    @include content-overlay;;
    background-color: rgba($project-color-secondary, 0.5);
    @include linear-gradient(to right, rgba($project-color-secondary, 0.5), rgba($project-color-secondary, 0));
  }
}

.juice-interactive-logo {
  max-width: em-calc(170);
  @include mq(small) {
    max-width: em-calc(200);
  }
  @include mq(medium) {
    max-width: 100%;
  }
  position: relative;
  z-index: 2;
}

// Facelift
// ==================================================
.juice-interactive-facelift-description {
  @include max-span-columns(7);
}

.juice-interactive-facelift-image {
  margin-top: em-calc(10);
}

@include mq(medium) {
  .juice-interactive-facelift-image {
    margin-top: em-calc(40);
  }
}

// Honest
// ==================================================
.juice-interactive-honest-description {

}

@include mq(medium) {
  .juice-interactive-honest-description {
    @include span-columns(6);
    padding-top: em-calc(25);
  }

  .juice-interactive-honest-image {
    @include span-columns(6);
  }
}

@include mq(930) {
  .juice-interactive-honest-description {
    @include span-columns(6);
    @include shift(.5);
    padding-top: em-calc(50);
  }

  .juice-interactive-honest-image {
    @include span-columns(5.5);
  }
}

// Responsive
// ==================================================
.section--juice-interactive-responsive {
  background-color: $project-color;
  color: $grey-darker;

  h2 {
    color: $grey-darkest;
  }
}

.juice-interactive-responsive-description {
  @include max-span-columns(7);
}

.juice-interactive-responsive-image {
  margin-top: em-calc(10);
}

@include mq(medium) {
  .juice-interactive-responsive-image {
    margin-top: em-calc(40);
  }
}

// Animations
// ==================================================
.juice-interactive-animations-description {
  @include max-span-columns(7);
}

.juice-interactive-animations-example {
  @include max-span-columns(7);
  @include mq(small) {
    padding-top: em-calc(10);
  }
}

@include mq(medium) {
  .juice-interactive-animations-description {
    @include span-columns(5);
  }

  .juice-interactive-animations-example {
    @include span-columns(7);
  }
}

@include mq(large) {
  .juice-interactive-animations-description {
    padding-top: em-calc(30);
  }
}

// Browsers
// ==================================================
.juice-interactive-browsers-description {
  @include max-span-columns(7);
}

.juice-interactive-browsers-images {
  text-align: center;
  @include mq(small) {
    padding-top: em-calc(10);
  }
  @include mq(medium) {
    padding-top: em-calc(20);
  }
}

@include mq(small) {
  .juice-interactive-browsers-images-break {
    display: none;
  }
}