// ==================================================
// RedLegg
// ==================================================
$project-color: #eb372f;

// Selected
// ==================================================
.work-selected-item-link--redlegg {
  background-color: $project-color;
  @include retina-background-image("work/redlegg/thumbnail.gif");
  &:before {
    background-color: rgba($project-color, 0.6);
    @include linear-gradient(to right, rgba($project-color, 0.6), rgba($project-color, 0));
    @include transition(background $transition-duration ease);
  }

  &:hover {
    background-color: scale-color($project-color, $lightness: 10%);
    &:before {
      background-color: rgba($project-color, 0.4);
      @include linear-gradient(to right, rgba($project-color, 0.4), rgba($project-color, 0));
    }
  }
}

// Menu Item
// ==================================================
.work-menu-item--redlegg {
  background-color: $project-color !important;
  @include retina-background-image("work/redlegg/thumbnail.gif");
  &:after {
    background-color: rgba($project-color, 0.5);
    @include linear-gradient(to right, rgba($project-color, 0.6), rgba($project-color, 0));
  }

  @include work-item-introduction(250, 300, 335, 390);

  .work-item-link:hover {
    color: $project-color;
  }
}

// Hero
// ==================================================
.hero--redlegg {
  background-color: $project-color;
  @include retina-background-image("work/redlegg/hero.gif");
  @include mq(small) {
    height: em-calc(233);
  }
  @include mq(medium) {
    height: em-calc(266);
  }
  @include mq(large) {
    height: em-calc(300);
    background-image: image-url("work/redlegg/hero@2x.gif");
  }
}

.redlegg-logo {
  max-width: em-calc(200);
  @include mq(small) {
    max-width: inherit;
  }
}

// Introduction
// ==================================================
.redlegg-introduction-description {
  @include max-span-columns(7);
}

.redlegg-introduction-image {
  @include max-span-columns(10);
  @include mq(small) {
    padding-top: em-calc(10);
  }
  @include mq(medium) {
    padding-top: em-calc(20);
  }
}

// SVG Animations
// ==================================================
.redlegg-svg-description {
  @include max-span-columns(7);
}

.redlegg-svg-example {
  @include max-span-columns(7);
}

.redlegg-svg-description {
  @include max-span-columns(7);
}

.redlegg-svg-example {
  @include max-span-columns(7);
}

// Responsive
// ==================================================
.section--redlegg-red {
  color: $grey-lightest;
  background-color: $project-color;
}

.redlegg-responsive-description {
  @include max-span-columns(7);
}

.redlegg-responsive-image {
  @include mq(small) {
    padding-top: em-calc(10);
  }
  @include mq(medium) {
    padding-top: em-calc(20);
  }
}

@include mq(ipad) {
  .redlegg-responsive-description {
    @include span-columns(4);
    padding-top: em-calc(20);
  }

  .redlegg-responsive-image {
    @include span-columns(8);
    padding-top: 0;
  }
}

@include mq(large) {
  .redlegg-responsive-description {
    @include span-columns(3);
    padding-top: em-calc(30);
  }

  .redlegg-responsive-image {
    @include span-columns(9);
  }
}