<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%- config.title %></title>

  <link rel="stylesheet" href="/assets/css/screen.css">
</head>
<body>
<%- partial('_partial/header', {}, {cache: true}) %>
<main role="main">
<%- body %>
</main>
<%- partial('_partial/footer', {}, {cache: true}) %>
<script src="https://use.typekit.net/gwp6ivk.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<script src="/assets/js/app.js" defer></script>
</body>
</html>
