<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%- config.title %></title>

  <link rel="stylesheet" href="/assets/css/screen.css">
</head>
<body>
<div class="container-wrap container-wrap--1">
  <header class="container d--f jc--sb" role="banner">
    <a href="/" class="logo logo--animated">
      <div class="logo__box"></div>
      <div class="logo__text">
        <span class="logo-first">J</span><div class="logo__overflow">
          <span class="logo-rest">onathan</span>
        </div>
        <span class="logo-first logo-first--s">S</span><div class="logo__overflow">
          <span class="logo-rest logo-rest--uh">uh</span>
        </div>
      </div>
    </a>
    <nav class="d--f ai--s" role="navigation">
      <a href="/about/" class="navigation-link">About</a>
      <a href="/work/" class="navigation-link">Work</a>
      <a href="/blog/" class="navigation-link">Blog</a>
      <a href="/contact/" class="navigation-link">Contact</a>
    </nav>
  </header>
</div>
<%- body %>
<script src="https://use.typekit.net/gwp6ivk.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>
