// Layout
// ==================================================
.container-wrap {
  @include spacing(padding, xy);
}
.container-wrap--1 {
  @include spacing(padding, y, false);
}

.container {
  @include container;
}
.container.d--f {
  @include clearfix-hide;
}

.container--writing {
  max-width: em(553);

  @include mq(medium) {
    max-width: em(585);
  }
  @include mq(large) {
    max-width: em(618);
  }
}

.section {
  @include spacing(padding, xy);
}
