<!DOCTYPE html>
<html lang="en">
<head>
{% include logic.html %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}{% if url != '/' %} — {% endif %}{{ site.title }}</title>
  {% if site.cdn_url contains '//' %}<link rel="prefetch" href="{{ '/assets/css/screen.css' | prepend: site.cdn_url }}?v={{ css_version }}">{% endif %}
  <meta name="fontsCSS" content="//fonts.googleapis.com/css?family=Roboto:400,700,500,300">
  <style>{% if url == '/' %}
      {% include critical/css/home.css %}
    {% elsif url contains '/about/' %}
      {% include critical/css/about.css %}
    {% elsif url contains '/contact/' %}
      {% include critical/css/contact.css %}
    {% elsif url contains '/work/' %}
      {% include critical/css/work.css %}
    {% elsif url contains '/blog/' %}
      {% if page.tags %}{% include critical/css/blog-post.css %}{% else %}{% include critical/css/blog.css %}{% endif %}
    {% endif %}</style>
  <meta name="mainCSS" content="{{ '/assets/css/screen.css' | prepend: site.cdn_url }}?v={{ css_version }}">
{% strip %}
  {% if page.css %}
    <meta name="pageCSS" content="{{ '/assets/css/blog/' | prepend: site.cdn_url | append: page.css }}?v={{ css_version }}">
  {% endif %}
{% endstrip %}
  <script>
    {% include critical/js/jonsuh.js %}
  </script>

  <noscript>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,700,500,300">
    <link rel="stylesheet" href="{{ '/assets/css/screen.css' | prepend: site.cdn_url }}?v={{ css_version }}">
    {% if page.css %}
      <link rel="stylesheet" href="{{ '/assets/css/blog/' | prepend: site.cdn_url | append: page.css }}?v={{ css_version }}">
    {% endif %}
  </noscript>

  <link rel="canonical" href="{{ url | prepend: site.url | prepend: site.url_protocol }}">
  <meta name="robots" content="{% if url contains '/blog/topic' or url contains '/blog/page/' or url contains '/blog/archives/' %}none{% else %}{% if page.robots == nil %}all{% else %}{{ page.robots }}{% endif %}{% endif %}">
  <meta name="author" content="{{ site.author.name }}">
  <link rel="author" href="{{ site.social.google }}">

  <meta name="description" content="{{ description }}">
  <meta http-equiv="content-language" content="en-us">
  <meta property="og:locale" content="en_us">
  <meta property="og:title" content="{% if url == '/' %}{{ site.title }}{% else %}{{ page.title }}{% endif %}">
  <meta property="og:url" content="{{ url | prepend: site.url | prepend: site.url_protocol }}">
  <meta property="og:site_name" content="Jonathan Suh">
  <meta property="og:type" content="{% if type == 'post' %}article{% else %}website{% endif %}">

  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ share_image }}">
  <meta property="fb:admins" content="506470591">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.social.username }}">
  <meta name="twitter:creator" content="@{{ site.social.username }}">
  <meta name="twitter:url" content="{{ url | prepend: site.url | prepend: site.url_protocol }}">
  <meta name="twitter:title" content="{% if url == '/' %}{{ site.title }}{% else %}{{ page.title }}{% endif %}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image:src" content="{{ share_image }}">

  <link rel="apple-touch-icon" href="{{ site.url }}/icon.png">
  <meta name="theme-color" content="#2196f3">
  <meta name="msapplication-TileImage" content="{{ site.url }}/icon.png">
  <meta name="msapplication-TileColor" content="#2196f3">
</head>
<body id="top">

{% include header.html %}

{{ content }}

{% include footer.html %}

<script>
  loadJS("{{ '/assets/js/jonsuh.js' | prepend: site.cdn_url }}?v={{ js_version }}");
  function aload(t){"use strict";t=t||window.document.querySelectorAll("[data-aload]"),void 0===t.length&&(t=[t]);var a,e=0,r=t.length;for(e;r>e;e+=1)a=t[e],a["LINK"!==a.tagName?"src":"href"]=a.getAttribute("data-aload"),a.removeAttribute("data-aload");return t}aload();
</script>
{% strip %}
  {% if page.js %}
    {% for js in page.js %}
      <script src="{{ '/assets/js/' | prepend: site.cdn_url | append: js }}?v={{ js_version }}" async></script>
    {% endfor %}
  {% endif %}
  {% if url == "/" and site.posts.first.js %}
    {% for js in site.posts.first.js %}
      <script src="{{ '/assets/js/' | prepend: site.cdn_url | append: js }}?v={{ js_version }}" async></script>
    {% endfor %}
  {% endif %}
{% endstrip %}
</body>
</html>