---
layout: default
---
<div class="section section--post">
  <div class="post">
    <section class="main">
      <article class="post-article" itemscope itemtype="http://schema.org/{% if page.tags contains 'review' %}Review{% else %}BlogPosting{% endif %}">
        <header class="post-header">
          <h1 class="post-title" itemprop="name"><a href="{{ page.url | append: '/' }}" class="post-link">{{ page.title }}</a></h1>
          <p class="post-meta">
            {% if page.updated == nil %}
              <time content="{{ page.date | date: "%Y-%m-%d" }}" datetime="{{ page.date | date: "%Y-%m-%d" }}" class="post-meta-time" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
            {% else %}
              Updated <meta itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}"><time content="{{ page.updated | date: "%Y-%m-%d" }}" datetime="{{ page.updated | date: "%Y-%m-%d" }}" class="post-meta-time" itemprop="dateModified" title="Written on {{ page.date | date: "%B %-d, %Y" }}">{{ page.updated | date: "%B %-d, %Y" }}</time>
            {% endif %}
            <span class="post-meta-author"> by <a href="/about/" class="post-meta-author-link" rel="author"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{% if page.author %}{{ page.author }}{% else %}{{ site.author.name }}{% endif %}</span></span></a></span>
          </p>
        </header>
        {% if page.tags contains 'review' %}
          {% if page.review.name %}
            {% if site.environment == 'development' %}<script>var disqus_developer = 1;</script>{% endif %}
            {% include post-rating.html name=page.review.name rating=page.review.rating comments=page.review.comments %}
          {% endif %}
        {% endif %}
        <section class="post-content" itemprop="{% if page.tags contains 'review' %}reviewBody{% else %}articleBody{% endif %}">
          {{ content }}
        </section>
        {% capture share_url %}{% strip %}
          {{ page.url | prepend: site.url | prepend: site.url_protocol | append: '/' | encode_url }}
        {% endstrip %}{% endcapture %}
        <section class="post-share">
          <ul class="post-share-menu">
            <li class="post-share-menu-title">Share</li>
            <li class="post-share-menu-item">
              <a href="https://twitter.com/intent/tweet?text={{ page.title | encode_url }}&url={{ share_url }}&via={{ site.social.username }}" class="post-share-menu-link post-share-menu-link--twitter js-social-twitter-share" title="Share on Twitter" target="_blank">{% include svg/icons.html icon='twitter' %}</a>
            </li>
            <li class="post-share-menu-item">
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}" data-share-url="{{ page.url | prepend: site.url | prepend: site.url_protocol | append: '/' }}" class="post-share-menu-link post-share-menu-link--facebook js-social-facebook-share" title="Share on Facebook" target="_blank">{% include svg/icons.html icon='facebook' %}</a>
            </li>
            <li class="post-share-menu-item">
              <a href="https://plus.google.com/share?url={{ share_url }}" class="post-share-menu-link post-share-menu-link--google js-social-google-share" title="Share on Google+" target="_blank">{% include svg/icons.html icon='google' %}</a>
            </li>
          </ul>
        </section>
        {% if page.comments == true %}
          <section class="post-comments">
            <a href="#disqus_thread" class="post-comments-link js-comments-load">Load <span class="post-comments-count"></span> comments</a>
            <div id="disqus_thread"></div>
          </section>
        {% endif %}
        <section class="post-nav">
          {% if page.previous.url %}
            <a href="{{ page.previous.url | append: "/" }}" class="post-pagination-link post-pagination-link--previous" title="{{ page.previous.title }}"><span class="post-pagination-arrow">&larr;</span> Previous<span class="post-pagination-label"> Post</span></a>
          {% endif %}
          {% if page.next.url %}
            <a href="{{ page.next.url | append: "/" }}" class="post-pagination-link post-pagination-link--next" title="{{ page.next.title }}">Next <span class="post-pagination-label">Post </span><span class="post-pagination-arrow">&rarr;</span></a>
          {% endif %}
        </section>
        {% if site.related_posts.size > 1 %}
          <section class="post-related">
            <h3 class="post-related-title">Related post{% if site.related_posts.size > 2 %}s{% endif %}</h3>
            <ul class="post-related-list">            
              {% for post in site.related_posts limit:5 %}
                {% if page.url != post.url %}
                  <li class="post-related-list-item">
                    {% if post.layout == 'external' %}
                      <a href="{{ post.external_url }}" class="post-related-list-link js-outbound">{{ post.title }}{% include svg/icons.html icon='external' %}</a>
                    {% else %}
                      <a href="{{ post.url | append: "/" }}" class="post-related-list-link">{{ post.title }}</a>
                    {% endif %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </section>
        {% endif %}
        <section class="post-author">
          <img src="/assets/images/avatar-512.jpg" alt="Jonathan Suh" class="post-author-image">
          <h3 class="post-author-name"><a href="/about/" class="post-author-name-link">Jonathan Suh</a></h3>
          <p class="post-author-about">I’m a multidisciplinary developer &amp; designer. I’m currently with the folks at <a href="http://juiceinteractive.com" class="no-break" target="_blank">Juice Interactive</a>, and I’ve worked with well-known brands and agencies, which include Allstate, Brian Hoff Design, Leo Burnett, and OLSON. <a href="/about/">More about me</a>. <span class="post-author-twitter"><a href="https://twitter.com/intent/follow?screen_name=jonsuh" class="post-author-twitter-link js-social-twitter-share" target="_blank"><span class="post-author-twitter-icon">{% include svg/icons.html icon='twitter' %}</span> Follow @jonsuh</a></span></p>
        </section>
      </article>
    </section>
    <aside class="sidebar">
      {% include sidebar/carbon-ads.html %}

      <hr class="section-break-half">

      {% include sidebar/posts-selected.html %}

      <hr class="section-break-half">

      {% include sidebar/posts-topics.html %}

      <hr class="section-break-half">

      {% include sidebar/hey.html %}

      <hr class="section-break-half">

      {% include sidebar/subscribe.html %}
    </aside>
  </div>
  {% if page.previous.url %}
    <a href="{{ page.previous.url | append: "/" }}" class="post-pagination-bumper post-pagination-bumper--previous" title="{{ page.previous.title }}">{% include svg/arrow-left.html %}</a>
  {% endif %}
  {% if page.next.url %}
    <a href="{{ page.next.url | append: "/" }}" class="post-pagination-bumper post-pagination-bumper--next" title="{{ page.next.title }}">{% include svg/arrow-right.html %}</a>
  {% endif %}
</div>