---
layout: default
---
{{ content }}

{% assign works = site.work | sort: "date" | reverse %}
<section class="work-menu">
  {% for work in works %}
    {% if work.title != page.title %}
      <div class="work-menu-item work-menu-item--{{ work.slug }}">
        <div class="work-item-content">
          <h3 class="work-item-introduction">{{ work.introduction }}</h3>
          <h2 class="work-item-title">{{ work.title }}</h2>
          <a href="{{ work.url }}" title="{{ work.title }}" class="work-item-link">View Work</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  {% if page.url != '/work/' %}
    <div class="work-menu-item work-menu-item--contact">
      <div class="work-item-content">
        <h3 class="work-item-introduction">Wanna work together?</h3>
        <h2></h2>
        <a href="/contact/" title="" class="work-item-link">Let’s chat</a>
      </div>
    </div>
  {% endif %}
</section>