// mq-sass
// ==================================================
$mq-ems        : true;
$mq-breakpoints: (
  small   : 480px,
  medium  : 640px,
  mid     : 832px,
  large   : 1024px,
  xlarge  : 1280px,
);
