// ==================================================
// Home
// ==================================================
.hero--home {
  height: em-calc(350);
  @include mq(small) {
    height: em-calc(425);
  }
  background-image: image-url("audi-small.jpg?201505211216");
  @include mq(600) {
    background-image: image-url("audi.jpg?201505211216");
  }
  @include mq(large) {
    background-image: image-url("audi@2x.jpg?201505211216");
  }
  @include mq(retina) {
    @include mq(small) {
      background-image: image-url("audi.jpg?201505211216");
    }
    @include mq(ipad) {
      background-image: image-url("audi@2x.jpg?201505211216");
    }
  }

  &:before {
    background-color: rgba($grey-darkest, 0.8);
    @include linear-gradient(to right, rgba($grey-darkest, 0.8) 50%, transparent);
  }

  .align-cell {
    text-align: center;
    color: $white;
    z-index: 2;
    height: 50%;
    position: relative;
    display: table;
  }
}

.home-hero-svg {
  width: em-calc(73 * 1.8);
  height: em-calc(80 * 1.8);
  margin-top: em-calc(30);
  @include mq(small) {
    margin-top: em-calc(50);
  }
  polygon {
    stroke: rgba($white, 0.3);
    stroke-width: 3;
    fill: transparent;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    @include animation(home-hero-svg 15s linear infinite);

    &:nth-child(odd) {
      stroke: rgba($blue, 0.5);
    }
  }
}

@include keyframes(home-hero-svg) {
  0% {
    stroke-dashoffset: 100;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 100;
  }
}

.home-hero-introduction {
  
}

.home-hero-name {
  font-size: em-calc(26);
  font-weight: 500;
  color: $white;
  letter-spacing: 0.05em;
  margin-bottom: 0;
}

.home-hero-tagline {
  $font-size: 14;

  font-weight: 400;
  font-size: em-calc(14);
  color: $grey;
  color: rgba($white, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin-bottom: em-calc(20, $font-size);
}

.home-hero-button {
  $font-size: 14;

  font-size: em-calc($font-size);
  font-weight: 500;
  color: $white;
  text-transform: uppercase;
  padding: em-calc(15 25, $font-size);
  border: 2px solid rgba($white, 0.5);
  display: inline-block;
  position: relative;

  @include mq(medium) {
    padding: em-calc(15 35, $font-size);
  }

  &:hover {
    color: $grey-darkest;
    border-color: $white;
    background-color: $white;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include linear-gradient(to right, rgba($white, 0) 25%, rgba($white, 0.6) 75%);
    }
  }
}

.home-hero-disclaimer {
  font-size: em-calc(11);
  color: rgba($white, 0.15);
  position: absolute;
  right: 0;
  bottom: em-calc(10);
}

.home-hero-arrow {
  border: 0;
  display: inline-block;
  padding: em-calc(20 30);
  left: 50%;
  bottom: 0;
  margin-left: em-calc(-45);
  position: absolute;
  z-index: 2;
  display: none;
  @include transition(transform $transition-duration ease);

  .svg-icon {
    width: em-calc(12 * 2.5);
    height: em-calc(7 * 2.5);
  }

  path {
    fill: rgba($white, 0.3);
  }

  &:hover {
    @include transform(translate3d(0, em-calc(3), 0));

    path {
      fill: $white;
    }
  }
}

.home-posts-title {
  font-size: em-calc(15);
  color: $grey;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-bottom: 1em;

  @include mq(small) {
    font-size: em-calc(15);
  }

  @include mq(large) {
    font-size: em-calc(14.5);
  }
}

@include mq(small) {
  .home-hero-svg {
    width: em-calc(73 * 2);
    height: em-calc(80 * 2);
  }

  .home-hero-name {
    font-size: em-calc(30);
  }

  .home-hero-tagline {
    $font-size: 15;

    font-size: em-calc($font-size);
    letter-spacing: 0.12em;
    margin-bottom: em-calc(20, $font-size);
  }

  .home-hero-disclaimer {
    bottom: em-calc(20);
  }
}

@include mq(medium) {
  .hero--home {
    height: em-calc(400);

    .align-cell {
      text-align: left;
      width: 50%;
      height: 100%;
      display: table-cell;
    }

    .align-cell--home-hero-logo {
      text-align: right;
    }
  }

  .home-hero-svg {
    width: em-calc(73 * 3);
    height: em-calc(80 * 3);
    margin-top: 0;

    polygon {
      stroke: rgba($white, 0.2);
      stroke-width: 3;

      &:nth-child(odd) {
        stroke: rgba($blue, 0.4);
      }
    }
  }

  .home-hero-introduction {
    text-align: center;
    max-width: rem-calc(260);
  }

  .home-hero-button {
    letter-spacing: 0.05em;
  }

  .home-hero-disclaimer {
    bottom: em-calc(35);
  }
}

@include mq(ipad) {
  .hero--home {
    height: -webkit-calc(100% - #{em-calc(90 + 25)});
    height: calc(100% - #{em-calc(90 + 25)});
    min-height: em-calc(400);
    max-height: em-calc(500);
  }

  .home-hero-svg {
    width: em-calc(73 * 3.5);
    height: em-calc(80 * 3.5);
  }

  .home-hero-introduction {
    max-width: rem-calc(300);
  }

  .home-hero-name {
    $font-size: 36;

    font-size: em-calc($font-size);
    margin-bottom: em-calc(5, $font-size);
  }

  .home-hero-tagline {
    font-size: 1em;
    letter-spacing: 0.21em;
    margin-bottom: em-calc(20);
  }

  .home-hero-arrow {
    display: inline-block;
  }
}

@include mq(700) {
  .home--hero {
    max-height: em-calc(600);
  }
}

// @include mq(800) {
//   .home--hero {
//     max-height: em-calc(700);
//   }
// }

@include mq(large) {
  .home-hero-name {
    $font-size: 40;

    font-size: em-calc($font-size);
    margin-bottom: em-calc(5, $font-size);
  }

  .home-hero-tagline {
    letter-spacing: 0.3em;
  }
}