// ==================================================
// Home
// ==================================================
.hero--home {
  height: em-calc(400);
  @media #{$small-up} {
    height: em-calc(450);
  }
  @include retina-background-image("audi.jpg");
  @media #{$medium-up} {
    background-image: image-url("audi@2x.jpg");
  }

  &:before {
    background-color: rgba($grey-darkest, 0.8);
    @include linear-gradient(to right, rgba($grey-darkest, 0.7) 50%, transparent);
  }

  .align-cell {
    text-align: center;
    color: $white;
    z-index: 2;
    height: 50%;
    position: relative;
    display: block;
  }
}

.home-hero-svg {
  width: em-calc(73 * 1.8);
  height: em-calc(80 * 1.8);
  margin-top: em-calc(45);
  @media #{$small-up} {
    margin-top: em-calc(60);
  }
  polygon {
    stroke: rgba($white, 0.3);
    stroke-width: 2;
    fill: transparent;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    @include animation(home-hero-svg 15s linear infinite);

    &:nth-child(odd) {
      stroke: rgba($blue, 0.8);
    }
  }
}

@include keyframes(home-hero-svg) {
  0% {
    stroke-dashoffset: 100;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 100;
  }
}

.home-hero-introduction {
  
}

.home-hero-name {
  font-size: em-calc(26);
  font-weight: 500;
  color: $white;
  letter-spacing: 0.05em;
  margin-bottom: 0;
}

.home-hero-tagline {
  $font-size: 14;

  font-weight: 300;
  font-size: em-calc(14);
  color: $grey;
  color: rgba($white, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin-bottom: em-calc(20, $font-size);
}

.home-hero-button {
  $font-size: 14;

  font-size: em-calc($font-size);
  font-weight: 500;
  color: $white;
  text-transform: uppercase;
  padding: em-calc(15 25, $font-size);
  border: 2px solid rgba($white, 0.5);
  display: inline-block;
  position: relative;

  @media #{$medium-up} {
    padding: em-calc(15 35, $font-size);
  }

  &:hover {
    color: $grey-darkest;
    border-color: $white;
    background-color: $white;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include linear-gradient(to right, rgba($white, 0) 25%, rgba($white, 0.6) 75%);
    }
  }
}

@media #{$small-up} {
  .home-hero-svg {
    width: em-calc(73 * 2);
    height: em-calc(80 * 2);
  }

  .home-hero-name {
    font-size: em-calc(30);
  }

  .home-hero-tagline {
    $font-size: 15;

    font-size: em-calc($font-size);
    letter-spacing: 0.12em;
    margin-bottom: em-calc(20, $font-size);
  }
}

@media #{$medium-up} {
  .hero--home {
    height: em-calc(450);

    .align-cell {
      text-align: left;
      width: 50%;
      height: 100%;
      display: table-cell;
    }

    .align-cell--home-hero-logo {
      text-align: right;
    }
  }

  .home-hero-svg {
    width: em-calc(73 * 3);
    height: em-calc(80 * 3);
    margin-top: 0;

    polygon {
      stroke-width: 1;
    }
  }

  .home-hero-introduction {
    text-align: center;
    max-width: rem-calc(260);
  }

  .home-hero-button {
    letter-spacing: 0.05em;
  }
}

@media #{$ipad-up} {
  .hero--home {
    height: -webkit-calc(100% - #{em-calc(90)});
    height: calc(100% - #{em-calc(90)});
  }

  .home-hero-introduction {
    max-width: rem-calc(300);
  }

  .home-hero-name {
    $font-size: 36;

    font-size: em-calc($font-size);
    margin-bottom: em-calc(5, $font-size);
  }

  .home-hero-tagline {
    font-size: 1em;
    letter-spacing: 0.21em;
    margin-bottom: em-calc(20);
  }
}

@media #{$large-up} {
  .home-hero-name {
    $font-size: 40;

    font-size: em-calc($font-size);
    margin-bottom: em-calc(5, $font-size);
  }

  .home-hero-tagline {
    letter-spacing: 0.3em;
  }
}