// Mixins
// ==================================================

// Font smoothing
// ==================================================
@mixin font-smoothing($smooth: true) {
  $moz: auto;
  $webkit: subpixel-antialiased;

  @if $smooth == true or $smooth == on {
    $moz: grayscale;
    $webkit: antialiased;
  }

  -moz-osx-font-smoothing: $moz;
  -webkit-font-smoothing : $webkit;
}

@mixin clearfix-hide {
  &:after {
    display: none;
  }
}

@mixin dark {
  @if $dark-mode == true {
    @content;
  }
}
