<div class="sidebar-section">
  <h4 class="sidebar-title">Mailing list</h4>
  <p>Subscribe to stay up-to-date and receive occasional emails from me.</p>
  <div class="sidebar-newsletter">
    <div id="mc_embed_signup" class="mce-form">
      <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form form--sidebar-newsletter js-form-newsletter" target="_blank" novalidate>
        <div class="form-field-group form-field-group--email mc-field-group">
          <input type="email" id="mce-EMAIL" name="EMAIL" value="" placeholder="Your email address" class="required email">
        </div>
        <div id="mce-responses" class="mce-responses">
          <div id="mce-error-response" class="response"></div>
          <div id="mce-success-response" class="response"></div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--><div class="mce-security">
          <input type="text" name="" tabindex="-1" value="">
        </div>
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="form-submit">Subscribe</button>
      </form>
    </div>
  </div>
</div>