<div class="sidebar-section">
  <h4 class="sidebar-title">Selected people</h4>
  <p>Handful of trusted professionals I respect and admire&mdash;Thankful and privileged that I can call some of them friends.</p>
  <ul class="sidebar-list sidebar-list--about-people">
    <li class="sidebar-list-item">
      <a href="http://avclark.com" class="sidebar-list-link" target="_blank">Adam Clark</a>
    </li>
    <li class="sidebar-list-item">
      <a href="http://allison.house" class="sidebar-list-link" target="_blank">Allison House</a>
    </li>
    <li class="sidebar-list-item">
      <a href="http://brianhoffdesign.com" class="sidebar-list-link" target="_blank">Brian Hoff</a>
    </li>
    <li class="sidebar-list-item">
      <a href="http://danielmall.com" class="sidebar-list-link" target="_blank">Daniel Mall</a>
    </li>
    <li class="sidebar-list-item">
      <a href="http://focuslabllc.com/our-story/profile/erik-reagan" class="sidebar-list-link" target="_blank">Erik Reagan</a>
    </li>
    <li class="sidebar-list-item">
      <a href="http://burciaga.co" class="sidebar-list-link" target="_blank">Ismael Burciaga</a>
    </li>
    <li class="sidebar-list-item">
      <a href="http://mattdsmith.com" class="sidebar-list-link" target="_blank">Matt D. Smith</a>
    </li>
  </ul>
</div>