<div class="sidebar-section">
  <h4 class="sidebar-title">Selected posts</h4>
  <ul class="sidebar-list">
    {% strip %}
      {% assign counter = 0 %}
      {% for post in site.data.posts-selected %}
        {% if counter < 4 %}
          {% if page.url contains post.url %}{% else %}
            {% assign counter = counter | plus: 1 %}
            <li class="sidebar-list-item">
              <a href="{{ post.url | prepend: '/blog/' | append: '/' }}" class="sidebar-list-link">{{ post.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endstrip %}
  </ul>
</div>