// ==================================================
// Neat Settings
// ==================================================
@import "neat-helpers";

$column      : 55px;
$gutter      : 40px;
$grid-columns: 12;
$max-width   : 68.75em; // 1100px